// -------------------------------------------------------------------------------------------------
// base
// -------------------------------------------------------------------------------------------------
$kb-button-font-weight: 400 !default;

// -------------------------------------------------------------------------------------------------
// variant - default
// -------------------------------------------------------------------------------------------------
$kb-button-default-box-shadow: none !default;
$kb-button-default-border-color: rgb(var(--kb-color-neutral-100)) !default;
$kb-button-default-background-color: rgb(var(--kb-color-neutral-100)) !default;
$kb-button-default-color: rgb(var(--kb-color-neutral-800)) !default;

$kb-button-default-hover-box-shadow: none !default;
$kb-button-default-hover-border-color: rgb(var(--kb-color-neutral-200)) !default;
$kb-button-default-hover-background-color: rgb(var(--kb-color-neutral-200)) !default;
$kb-button-default-hover-color: rgb(var(--kb-color-neutral-800)) !default;

$kb-button-default-active-box-shadow: none !default;
$kb-button-default-active-border-color: rgb(var(--kb-color-neutral-300)) !default;
$kb-button-default-active-background-color: rgb(var(--kb-color-neutral-300)) !default;
$kb-button-default-active-color: rgb(var(--kb-color-neutral-800)) !default;

$kb-button-default-disabled-box-shadow: none !default;
$kb-button-default-disabled-border-color: rgb(var(--kb-color-neutral-50)) !default;
$kb-button-default-disabled-background-color: rgb(var(--kb-color-neutral-50)) !default;
$kb-button-default-disabled-color: rgb(var(--kb-color-neutral-200)) !default;

$kb-button-default-dark-box-shadow: none !default;
$kb-button-default-dark-border-color: transparent !default;
$kb-button-default-dark-background-color: rgb(var(--kb-color-neutral-500) / 0.2) !default;
$kb-button-default-dark-color: rgb(var(--kb-color-text-2)) !default;

$kb-button-default-dark-hover-box-shadow: none !default;
$kb-button-default-dark-hover-border-color: transparent !default;
$kb-button-default-dark-hover-background-color: rgb(var(--kb-color-neutral-500) / 0.35) !default;
$kb-button-default-dark-hover-color: rgb(var(--kb-color-text-2)) !default;

$kb-button-default-dark-active-box-shadow: none !default;
$kb-button-default-dark-active-border-color: transparent !default;
$kb-button-default-dark-active-background-color: rgb(var(--kb-color-neutral-500) / 0.5) !default;
$kb-button-default-dark-active-color: rgb(var(--kb-color-text-2)) !default;

$kb-button-default-dark-disabled-box-shadow: none !default;
$kb-button-default-dark-disabled-border-color: transparent !default;
$kb-button-default-dark-disabled-background-color: rgb(var(--kb-color-neutral-600) / 0.1) !default;
$kb-button-default-dark-disabled-color: rgb(var(--kb-color-neutral-500) / 0.3) !default;

// -------------------------------------------------------------------------------------------------
// variant - solid
// -------------------------------------------------------------------------------------------------

// primary
$kb-button-solid-primary-box-shadow: "" !default;
$kb-button-solid-primary-border-color: "" !default;
$kb-button-solid-primary-background-color: "" !default;
$kb-button-solid-primary-color: "" !default;

$kb-button-solid-primary-hover-box-shadow: "" !default;
$kb-button-solid-primary-hover-border-color: "" !default;
$kb-button-solid-primary-hover-background-color: "" !default;
$kb-button-solid-primary-hover-color: "" !default;

$kb-button-solid-primary-active-box-shadow: "" !default;
$kb-button-solid-primary-active-border-color: "" !default;
$kb-button-solid-primary-active-background-color: "" !default;
$kb-button-solid-primary-active-color: "" !default;

$kb-button-solid-primary-disabled-box-shadow: "" !default;
$kb-button-solid-primary-disabled-border-color: "" !default;
$kb-button-solid-primary-disabled-background-color: "" !default;
$kb-button-solid-primary-disabled-color: "" !default;

$kb-button-solid-primary-dark-box-shadow: "" !default;
$kb-button-solid-primary-dark-border-color: "" !default;
$kb-button-solid-primary-dark-background-color: "" !default;
$kb-button-solid-primary-dark-color: "" !default;

$kb-button-solid-primary-dark-hover-box-shadow: "" !default;
$kb-button-solid-primary-dark-hover-border-color: "" !default;
$kb-button-solid-primary-dark-hover-background-color: "" !default;
$kb-button-solid-primary-dark-hover-color: "" !default;

$kb-button-solid-primary-dark-active-box-shadow: "" !default;
$kb-button-solid-primary-dark-active-border-color: "" !default;
$kb-button-solid-primary-dark-active-background-color: "" !default;
$kb-button-solid-primary-dark-active-color: "" !default;

$kb-button-solid-primary-dark-disabled-box-shadow: "" !default;
$kb-button-solid-primary-dark-disabled-border-color: "" !default;
$kb-button-solid-primary-dark-disabled-background-color: "" !default;
$kb-button-solid-primary-dark-disabled-color: "" !default;

// secondary
$kb-button-solid-secondary-box-shadow: "" !default;
$kb-button-solid-secondary-border-color: "" !default;
$kb-button-solid-secondary-background-color: "" !default;
$kb-button-solid-secondary-color: "" !default;

$kb-button-solid-secondary-hover-box-shadow: "" !default;
$kb-button-solid-secondary-hover-border-color: "" !default;
$kb-button-solid-secondary-hover-background-color: "" !default;
$kb-button-solid-secondary-hover-color: "" !default;

$kb-button-solid-secondary-active-box-shadow: "" !default;
$kb-button-solid-secondary-active-border-color: "" !default;
$kb-button-solid-secondary-active-background-color: "" !default;
$kb-button-solid-secondary-active-color: "" !default;

$kb-button-solid-secondary-disabled-box-shadow: "" !default;
$kb-button-solid-secondary-disabled-border-color: "" !default;
$kb-button-solid-secondary-disabled-background-color: "" !default;
$kb-button-solid-secondary-disabled-color: "" !default;

$kb-button-solid-secondary-dark-box-shadow: "" !default;
$kb-button-solid-secondary-dark-border-color: "" !default;
$kb-button-solid-secondary-dark-background-color: "" !default;
$kb-button-solid-secondary-dark-color: "" !default;

$kb-button-solid-secondary-dark-hover-box-shadow: "" !default;
$kb-button-solid-secondary-dark-hover-border-color: "" !default;
$kb-button-solid-secondary-dark-hover-background-color: "" !default;
$kb-button-solid-secondary-dark-hover-color: "" !default;

$kb-button-solid-secondary-dark-active-box-shadow: "" !default;
$kb-button-solid-secondary-dark-active-border-color: "" !default;
$kb-button-solid-secondary-dark-active-background-color: "" !default;
$kb-button-solid-secondary-dark-active-color: "" !default;

$kb-button-solid-secondary-dark-disabled-box-shadow: "" !default;
$kb-button-solid-secondary-dark-disabled-border-color: "" !default;
$kb-button-solid-secondary-dark-disabled-background-color: "" !default;
$kb-button-solid-secondary-dark-disabled-color: "" !default;

// danger
$kb-button-solid-danger-box-shadow: "" !default;
$kb-button-solid-danger-border-color: "" !default;
$kb-button-solid-danger-background-color: "" !default;
$kb-button-solid-danger-color: "" !default;

$kb-button-solid-danger-hover-box-shadow: "" !default;
$kb-button-solid-danger-hover-border-color: "" !default;
$kb-button-solid-danger-hover-background-color: "" !default;
$kb-button-solid-danger-hover-color: "" !default;

$kb-button-solid-danger-active-box-shadow: "" !default;
$kb-button-solid-danger-active-border-color: "" !default;
$kb-button-solid-danger-active-background-color: "" !default;
$kb-button-solid-danger-active-color: "" !default;

$kb-button-solid-danger-disabled-box-shadow: "" !default;
$kb-button-solid-danger-disabled-border-color: "" !default;
$kb-button-solid-danger-disabled-background-color: "" !default;
$kb-button-solid-danger-disabled-color: "" !default;

$kb-button-solid-danger-dark-box-shadow: "" !default;
$kb-button-solid-danger-dark-border-color: "" !default;
$kb-button-solid-danger-dark-background-color: "" !default;
$kb-button-solid-danger-dark-color: "" !default;

$kb-button-solid-danger-dark-hover-box-shadow: "" !default;
$kb-button-solid-danger-dark-hover-border-color: "" !default;
$kb-button-solid-danger-dark-hover-background-color: "" !default;
$kb-button-solid-danger-dark-hover-color: "" !default;

$kb-button-solid-danger-dark-active-box-shadow: "" !default;
$kb-button-solid-danger-dark-active-border-color: "" !default;
$kb-button-solid-danger-dark-active-background-color: "" !default;
$kb-button-solid-danger-dark-active-color: "" !default;

$kb-button-solid-danger-dark-disabled-box-shadow: "" !default;
$kb-button-solid-danger-dark-disabled-border-color: "" !default;
$kb-button-solid-danger-dark-disabled-background-color: "" !default;
$kb-button-solid-danger-dark-disabled-color: "" !default;

// -------------------------------------------------------------------------------------------------
// variant - soft
// -------------------------------------------------------------------------------------------------

// primary
$kb-button-soft-primary-box-shadow: "" !default;
$kb-button-soft-primary-border-color: "" !default;
$kb-button-soft-primary-background-color: "" !default;
$kb-button-soft-primary-color: "" !default;

$kb-button-soft-primary-hover-box-shadow: "" !default;
$kb-button-soft-primary-hover-border-color: "" !default;
$kb-button-soft-primary-hover-background-color: "" !default;
$kb-button-soft-primary-hover-color: "" !default;

$kb-button-soft-primary-active-box-shadow: "" !default;
$kb-button-soft-primary-active-border-color: "" !default;
$kb-button-soft-primary-active-background-color: "" !default;
$kb-button-soft-primary-active-color: "" !default;

$kb-button-soft-primary-disabled-box-shadow: "" !default;
$kb-button-soft-primary-disabled-border-color: "" !default;
$kb-button-soft-primary-disabled-background-color: "" !default;
$kb-button-soft-primary-disabled-color: "" !default;

$kb-button-soft-primary-dark-box-shadow: "" !default;
$kb-button-soft-primary-dark-border-color: "" !default;
$kb-button-soft-primary-dark-background-color: "" !default;
$kb-button-soft-primary-dark-color: "" !default;

$kb-button-soft-primary-dark-hover-box-shadow: "" !default;
$kb-button-soft-primary-dark-hover-border-color: "" !default;
$kb-button-soft-primary-dark-hover-background-color: "" !default;
$kb-button-soft-primary-dark-hover-color: "" !default;

$kb-button-soft-primary-dark-active-box-shadow: "" !default;
$kb-button-soft-primary-dark-active-border-color: "" !default;
$kb-button-soft-primary-dark-active-background-color: "" !default;
$kb-button-soft-primary-dark-active-color: "" !default;

$kb-button-soft-primary-dark-disabled-box-shadow: "" !default;
$kb-button-soft-primary-dark-disabled-border-color: "" !default;
$kb-button-soft-primary-dark-disabled-background-color: "" !default;
$kb-button-soft-primary-dark-disabled-color: "" !default;

// secondary
$kb-button-soft-secondary-box-shadow: "" !default;
$kb-button-soft-secondary-border-color: "" !default;
$kb-button-soft-secondary-background-color: "" !default;
$kb-button-soft-secondary-color: "" !default;

$kb-button-soft-secondary-hover-box-shadow: "" !default;
$kb-button-soft-secondary-hover-border-color: "" !default;
$kb-button-soft-secondary-hover-background-color: "" !default;
$kb-button-soft-secondary-hover-color: "" !default;

$kb-button-soft-secondary-active-box-shadow: "" !default;
$kb-button-soft-secondary-active-border-color: "" !default;
$kb-button-soft-secondary-active-background-color: "" !default;
$kb-button-soft-secondary-active-color: "" !default;

$kb-button-soft-secondary-disabled-box-shadow: "" !default;
$kb-button-soft-secondary-disabled-border-color: "" !default;
$kb-button-soft-secondary-disabled-background-color: "" !default;
$kb-button-soft-secondary-disabled-color: "" !default;

$kb-button-soft-secondary-dark-box-shadow: "" !default;
$kb-button-soft-secondary-dark-border-color: "" !default;
$kb-button-soft-secondary-dark-background-color: "" !default;
$kb-button-soft-secondary-dark-color: "" !default;

$kb-button-soft-secondary-dark-hover-box-shadow: "" !default;
$kb-button-soft-secondary-dark-hover-border-color: "" !default;
$kb-button-soft-secondary-dark-hover-background-color: "" !default;
$kb-button-soft-secondary-dark-hover-color: "" !default;

$kb-button-soft-secondary-dark-active-box-shadow: "" !default;
$kb-button-soft-secondary-dark-active-border-color: "" !default;
$kb-button-soft-secondary-dark-active-background-color: "" !default;
$kb-button-soft-secondary-dark-active-color: "" !default;

$kb-button-soft-secondary-dark-disabled-box-shadow: "" !default;
$kb-button-soft-secondary-dark-disabled-border-color: "" !default;
$kb-button-soft-secondary-dark-disabled-background-color: "" !default;
$kb-button-soft-secondary-dark-disabled-color: "" !default;

// danger
$kb-button-soft-danger-box-shadow: "" !default;
$kb-button-soft-danger-border-color: "" !default;
$kb-button-soft-danger-background-color: "" !default;
$kb-button-soft-danger-color: "" !default;

$kb-button-soft-danger-hover-box-shadow: "" !default;
$kb-button-soft-danger-hover-border-color: "" !default;
$kb-button-soft-danger-hover-background-color: "" !default;
$kb-button-soft-danger-hover-color: "" !default;

$kb-button-soft-danger-active-box-shadow: "" !default;
$kb-button-soft-danger-active-border-color: "" !default;
$kb-button-soft-danger-active-background-color: "" !default;
$kb-button-soft-danger-active-color: "" !default;

$kb-button-soft-danger-disabled-box-shadow: "" !default;
$kb-button-soft-danger-disabled-border-color: "" !default;
$kb-button-soft-danger-disabled-background-color: "" !default;
$kb-button-soft-danger-disabled-color: "" !default;

$kb-button-soft-danger-dark-box-shadow: "" !default;
$kb-button-soft-danger-dark-border-color: "" !default;
$kb-button-soft-danger-dark-background-color: "" !default;
$kb-button-soft-danger-dark-color: "" !default;

$kb-button-soft-danger-dark-hover-box-shadow: "" !default;
$kb-button-soft-danger-dark-hover-border-color: "" !default;
$kb-button-soft-danger-dark-hover-background-color: "" !default;
$kb-button-soft-danger-dark-hover-color: "" !default;

$kb-button-soft-danger-dark-active-box-shadow: "" !default;
$kb-button-soft-danger-dark-active-border-color: "" !default;
$kb-button-soft-danger-dark-active-background-color: "" !default;
$kb-button-soft-danger-dark-active-color: "" !default;

$kb-button-soft-danger-dark-disabled-box-shadow: "" !default;
$kb-button-soft-danger-dark-disabled-border-color: "" !default;
$kb-button-soft-danger-dark-disabled-background-color: "" !default;
$kb-button-soft-danger-dark-disabled-color: "" !default;

// -------------------------------------------------------------------------------------------------
// variant - outlined
// -------------------------------------------------------------------------------------------------

// primary
$kb-button-outlined-primary-box-shadow: "" !default;
$kb-button-outlined-primary-border-color: "" !default;
$kb-button-outlined-primary-background-color: "" !default;
$kb-button-outlined-primary-color: "" !default;

$kb-button-outlined-primary-hover-box-shadow: "" !default;
$kb-button-outlined-primary-hover-border-color: "" !default;
$kb-button-outlined-primary-hover-background-color: "" !default;
$kb-button-outlined-primary-hover-color: "" !default;

$kb-button-outlined-primary-active-box-shadow: "" !default;
$kb-button-outlined-primary-active-border-color: "" !default;
$kb-button-outlined-primary-active-background-color: "" !default;
$kb-button-outlined-primary-active-color: "" !default;

$kb-button-outlined-primary-disabled-box-shadow: "" !default;
$kb-button-outlined-primary-disabled-border-color: "" !default;
$kb-button-outlined-primary-disabled-background-color: "" !default;
$kb-button-outlined-primary-disabled-color: "" !default;

$kb-button-outlined-primary-dark-box-shadow: "" !default;
$kb-button-outlined-primary-dark-border-color: "" !default;
$kb-button-outlined-primary-dark-background-color: "" !default;
$kb-button-outlined-primary-dark-color: "" !default;

$kb-button-outlined-primary-dark-hover-box-shadow: "" !default;
$kb-button-outlined-primary-dark-hover-border-color: "" !default;
$kb-button-outlined-primary-dark-hover-background-color: "" !default;
$kb-button-outlined-primary-dark-hover-color: "" !default;

$kb-button-outlined-primary-dark-active-box-shadow: "" !default;
$kb-button-outlined-primary-dark-active-border-color: "" !default;
$kb-button-outlined-primary-dark-active-background-color: "" !default;
$kb-button-outlined-primary-dark-active-color: "" !default;

$kb-button-outlined-primary-dark-disabled-box-shadow: "" !default;
$kb-button-outlined-primary-dark-disabled-border-color: "" !default;
$kb-button-outlined-primary-dark-disabled-background-color: "" !default;
$kb-button-outlined-primary-dark-disabled-color: "" !default;

// secondary
$kb-button-outlined-secondary-box-shadow: "" !default;
$kb-button-outlined-secondary-border-color: "" !default;
$kb-button-outlined-secondary-background-color: "" !default;
$kb-button-outlined-secondary-color: "" !default;

$kb-button-outlined-secondary-hover-box-shadow: "" !default;
$kb-button-outlined-secondary-hover-border-color: "" !default;
$kb-button-outlined-secondary-hover-background-color: "" !default;
$kb-button-outlined-secondary-hover-color: "" !default;

$kb-button-outlined-secondary-active-box-shadow: "" !default;
$kb-button-outlined-secondary-active-border-color: "" !default;
$kb-button-outlined-secondary-active-background-color: "" !default;
$kb-button-outlined-secondary-active-color: "" !default;

$kb-button-outlined-secondary-disabled-box-shadow: "" !default;
$kb-button-outlined-secondary-disabled-border-color: "" !default;
$kb-button-outlined-secondary-disabled-background-color: "" !default;
$kb-button-outlined-secondary-disabled-color: "" !default;

$kb-button-outlined-secondary-dark-box-shadow: "" !default;
$kb-button-outlined-secondary-dark-border-color: "" !default;
$kb-button-outlined-secondary-dark-background-color: "" !default;
$kb-button-outlined-secondary-dark-color: "" !default;

$kb-button-outlined-secondary-dark-hover-box-shadow: "" !default;
$kb-button-outlined-secondary-dark-hover-border-color: "" !default;
$kb-button-outlined-secondary-dark-hover-background-color: "" !default;
$kb-button-outlined-secondary-dark-hover-color: "" !default;

$kb-button-outlined-secondary-dark-active-box-shadow: "" !default;
$kb-button-outlined-secondary-dark-active-border-color: "" !default;
$kb-button-outlined-secondary-dark-active-background-color: "" !default;
$kb-button-outlined-secondary-dark-active-color: "" !default;

$kb-button-outlined-secondary-dark-disabled-box-shadow: "" !default;
$kb-button-outlined-secondary-dark-disabled-border-color: "" !default;
$kb-button-outlined-secondary-dark-disabled-background-color: "" !default;
$kb-button-outlined-secondary-dark-disabled-color: "" !default;

// danger
$kb-button-outlined-danger-box-shadow: "" !default;
$kb-button-outlined-danger-border-color: "" !default;
$kb-button-outlined-danger-background-color: "" !default;
$kb-button-outlined-danger-color: "" !default;

$kb-button-outlined-danger-hover-box-shadow: "" !default;
$kb-button-outlined-danger-hover-border-color: "" !default;
$kb-button-outlined-danger-hover-background-color: "" !default;
$kb-button-outlined-danger-hover-color: "" !default;

$kb-button-outlined-danger-active-box-shadow: "" !default;
$kb-button-outlined-danger-active-border-color: "" !default;
$kb-button-outlined-danger-active-background-color: "" !default;
$kb-button-outlined-danger-active-color: "" !default;

$kb-button-outlined-danger-disabled-box-shadow: "" !default;
$kb-button-outlined-danger-disabled-border-color: "" !default;
$kb-button-outlined-danger-disabled-background-color: "" !default;
$kb-button-outlined-danger-disabled-color: "" !default;

$kb-button-outlined-danger-dark-box-shadow: "" !default;
$kb-button-outlined-danger-dark-border-color: "" !default;
$kb-button-outlined-danger-dark-background-color: "" !default;
$kb-button-outlined-danger-dark-color: "" !default;

$kb-button-outlined-danger-dark-hover-box-shadow: "" !default;
$kb-button-outlined-danger-dark-hover-border-color: "" !default;
$kb-button-outlined-danger-dark-hover-background-color: "" !default;
$kb-button-outlined-danger-dark-hover-color: "" !default;

$kb-button-outlined-danger-dark-active-box-shadow: "" !default;
$kb-button-outlined-danger-dark-active-border-color: "" !default;
$kb-button-outlined-danger-dark-active-background-color: "" !default;
$kb-button-outlined-danger-dark-active-color: "" !default;

$kb-button-outlined-danger-dark-disabled-box-shadow: "" !default;
$kb-button-outlined-danger-dark-disabled-border-color: "" !default;
$kb-button-outlined-danger-dark-disabled-background-color: "" !default;
$kb-button-outlined-danger-dark-disabled-color: "" !default;

// -------------------------------------------------------------------------------------------------
// variant - plain
// -------------------------------------------------------------------------------------------------

// primary
$kb-button-plain-primary-box-shadow: "" !default;
$kb-button-plain-primary-border-color: "" !default;
$kb-button-plain-primary-background-color: "" !default;
$kb-button-plain-primary-color: "" !default;

$kb-button-plain-primary-hover-box-shadow: "" !default;
$kb-button-plain-primary-hover-border-color: "" !default;
$kb-button-plain-primary-hover-background-color: "" !default;
$kb-button-plain-primary-hover-color: "" !default;

$kb-button-plain-primary-active-box-shadow: "" !default;
$kb-button-plain-primary-active-border-color: "" !default;
$kb-button-plain-primary-active-background-color: "" !default;
$kb-button-plain-primary-active-color: "" !default;

$kb-button-plain-primary-disabled-box-shadow: "" !default;
$kb-button-plain-primary-disabled-border-color: "" !default;
$kb-button-plain-primary-disabled-background-color: "" !default;
$kb-button-plain-primary-disabled-color: "" !default;

$kb-button-plain-primary-dark-box-shadow: "" !default;
$kb-button-plain-primary-dark-border-color: "" !default;
$kb-button-plain-primary-dark-background-color: "" !default;
$kb-button-plain-primary-dark-color: "" !default;

$kb-button-plain-primary-dark-hover-box-shadow: "" !default;
$kb-button-plain-primary-dark-hover-border-color: "" !default;
$kb-button-plain-primary-dark-hover-background-color: "" !default;
$kb-button-plain-primary-dark-hover-color: "" !default;

$kb-button-plain-primary-dark-active-box-shadow: "" !default;
$kb-button-plain-primary-dark-active-border-color: "" !default;
$kb-button-plain-primary-dark-active-background-color: "" !default;
$kb-button-plain-primary-dark-active-color: "" !default;

$kb-button-plain-primary-dark-disabled-box-shadow: "" !default;
$kb-button-plain-primary-dark-disabled-border-color: "" !default;
$kb-button-plain-primary-dark-disabled-background-color: "" !default;
$kb-button-plain-primary-dark-disabled-color: "" !default;

// secondary
$kb-button-plain-secondary-box-shadow: "" !default;
$kb-button-plain-secondary-border-color: "" !default;
$kb-button-plain-secondary-background-color: "" !default;
$kb-button-plain-secondary-color: "" !default;

$kb-button-plain-secondary-hover-box-shadow: "" !default;
$kb-button-plain-secondary-hover-border-color: "" !default;
$kb-button-plain-secondary-hover-background-color: "" !default;
$kb-button-plain-secondary-hover-color: "" !default;

$kb-button-plain-secondary-active-box-shadow: "" !default;
$kb-button-plain-secondary-active-border-color: "" !default;
$kb-button-plain-secondary-active-background-color: "" !default;
$kb-button-plain-secondary-active-color: "" !default;

$kb-button-plain-secondary-disabled-box-shadow: "" !default;
$kb-button-plain-secondary-disabled-border-color: "" !default;
$kb-button-plain-secondary-disabled-background-color: "" !default;
$kb-button-plain-secondary-disabled-color: "" !default;

$kb-button-plain-secondary-dark-box-shadow: "" !default;
$kb-button-plain-secondary-dark-border-color: "" !default;
$kb-button-plain-secondary-dark-background-color: "" !default;
$kb-button-plain-secondary-dark-color: "" !default;

$kb-button-plain-secondary-dark-hover-box-shadow: "" !default;
$kb-button-plain-secondary-dark-hover-border-color: "" !default;
$kb-button-plain-secondary-dark-hover-background-color: "" !default;
$kb-button-plain-secondary-dark-hover-color: "" !default;

$kb-button-plain-secondary-dark-active-box-shadow: "" !default;
$kb-button-plain-secondary-dark-active-border-color: "" !default;
$kb-button-plain-secondary-dark-active-background-color: "" !default;
$kb-button-plain-secondary-dark-active-color: "" !default;

$kb-button-plain-secondary-dark-disabled-box-shadow: "" !default;
$kb-button-plain-secondary-dark-disabled-border-color: "" !default;
$kb-button-plain-secondary-dark-disabled-background-color: "" !default;
$kb-button-plain-secondary-dark-disabled-color: "" !default;

// danger
$kb-button-plain-danger-box-shadow: "" !default;
$kb-button-plain-danger-border-color: "" !default;
$kb-button-plain-danger-background-color: "" !default;
$kb-button-plain-danger-color: "" !default;

$kb-button-plain-danger-hover-box-shadow: "" !default;
$kb-button-plain-danger-hover-border-color: "" !default;
$kb-button-plain-danger-hover-background-color: "" !default;
$kb-button-plain-danger-hover-color: "" !default;

$kb-button-plain-danger-active-box-shadow: "" !default;
$kb-button-plain-danger-active-border-color: "" !default;
$kb-button-plain-danger-active-background-color: "" !default;
$kb-button-plain-danger-active-color: "" !default;

$kb-button-plain-danger-disabled-box-shadow: "" !default;
$kb-button-plain-danger-disabled-border-color: "" !default;
$kb-button-plain-danger-disabled-background-color: "" !default;
$kb-button-plain-danger-disabled-color: "" !default;

$kb-button-plain-danger-dark-box-shadow: "" !default;
$kb-button-plain-danger-dark-border-color: "" !default;
$kb-button-plain-danger-dark-background-color: "" !default;
$kb-button-plain-danger-dark-color: "" !default;

$kb-button-plain-danger-dark-hover-box-shadow: "" !default;
$kb-button-plain-danger-dark-hover-border-color: "" !default;
$kb-button-plain-danger-dark-hover-background-color: "" !default;
$kb-button-plain-danger-dark-hover-color: "" !default;

$kb-button-plain-danger-dark-active-box-shadow: "" !default;
$kb-button-plain-danger-dark-active-border-color: "" !default;
$kb-button-plain-danger-dark-active-background-color: "" !default;
$kb-button-plain-danger-dark-active-color: "" !default;

$kb-button-plain-danger-dark-disabled-box-shadow: "" !default;
$kb-button-plain-danger-dark-disabled-border-color: "" !default;
$kb-button-plain-danger-dark-disabled-background-color: "" !default;
$kb-button-plain-danger-dark-disabled-color: "" !default;

// -------------------------------------------------------------------------------------------------
// size
// -------------------------------------------------------------------------------------------------
$kb-button-xs-border-radius: 3px !default;
$kb-button-xs-height: 24px !default;
$kb-button-xs-padding: 0 10px !default;
$kb-button-xs-font-size: 12px !default;

$kb-button-sm-border-radius: 3px !default;
$kb-button-sm-height: 28px !default;
$kb-button-sm-padding: 0 12px !default;
$kb-button-sm-font-size: 14px !default;

$kb-button-md-border-radius: 3px !default;
$kb-button-md-height: 32px !default;
$kb-button-md-padding: 0 16px !default;
$kb-button-md-font-size: 14px !default;

$kb-button-lg-border-radius: 3px !default;
$kb-button-lg-height: 36px !default;
$kb-button-lg-padding: 0 18px !default;
$kb-button-lg-font-size: 16px !default;

// -------------------------------------------------------------------------------------------------
// icon
// -------------------------------------------------------------------------------------------------
$kb-button-icon-font-size: 1.2em !default;

// -------------------------------------------------------------------------------------------------
// loader-icon
// -------------------------------------------------------------------------------------------------
$kb-button-loader-icon-font-size: 1.3em !default;
$kb-button-loader-icon-animation: 1s linear infinite kb-animation-spin !default;
