@use "../base/button";
@use "../utils/functions" as *;

$colorMap: (
  primary: primary,
  secondary: neutral,
  danger: danger,
);

// -------------------------------------------------------------------------------------------------
// base
// -------------------------------------------------------------------------------------------------

.kb-button {
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 2px;
  padding: 0;
  font-weight: 400;
}

/* -------------------------------------------------------------------------------------------------
 * variant - solid
 * -----------------------------------------------------------------------------------------------*/

@each $name, $color in $colorMap {
  $isNeutral: $color == neutral;

  .kb-button--solid.kb-button--#{$name} {
    $baseShade: if($isNeutral, 800, 600);
    border-color: rgb(var(--kb-color-#{$color}-#{$baseShade}));
    background-color: rgb(var(--kb-color-#{$color}-#{$baseShade}));
    color: rgb(var(--kb-color-white));

    &:hover {
      $hoverShade: if($isNeutral, 700, 500);
      border-color: rgb(var(--kb-color-#{$color}-#{$hoverShade}));
      background-color: rgb(var(--kb-color-#{$color}-#{$hoverShade}));
    }

    &:active {
      $activeShade: if($isNeutral, 900, 700);
      border-color: rgb(var(--kb-color-#{$color}-#{$activeShade}));
      background-color: rgb(var(--kb-color-#{$color}-#{$activeShade}));
    }

    &:disabled {
      border-color: rgb(var(--kb-color-#{$color}-200));
      background-color: rgb(var(--kb-color-#{$color}-200));
    }

    #{dark-selector()} {
      border-color: rgb(var(--kb-color-#{$color}-600));
      background-color: rgb(var(--kb-color-#{$color}-600));
    }

    #{dark-selector("&:hover")} {
      border-color: rgb(var(--kb-color-#{$color}-700));
      background-color: rgb(var(--kb-color-#{$color}-700));
    }

    #{dark-selector("&:active")} {
      border-color: rgb(var(--kb-color-#{$color}-500));
      background-color: rgb(var(--kb-color-#{$color}-500));
    }

    #{dark-selector("&:disabled")} {
      border-color: transparent;
      background-color: rgb(var(--kb-color-#{$color}-600) / 0.3);
      color: rgb(var(--kb-color-white) / 0.3);
    }
  }
}

/* -------------------------------------------------------------------------------------------------
 * variant - soft
 * -----------------------------------------------------------------------------------------------*/

@each $name, $color in $colorMap {
  $isNeutral: $color == neutral;

  .kb-button--soft.kb-button--#{$name} {
    border-color: rgb(var(--kb-color-#{$color}-100));
    background-color: rgb(var(--kb-color-#{$color}-100));
    color: rgb(var(--kb-color-#{$color}-#{if($isNeutral, 800, 700)}));

    &:hover {
      border-color: rgb(var(--kb-color-#{$color}-200));
      background-color: rgb(var(--kb-color-#{$color}-200));
    }

    &:active {
      border-color: rgb(var(--kb-color-#{$color}-300));
      background-color: rgb(var(--kb-color-#{$color}-300));
    }

    &:disabled {
      border-color: rgb(var(--kb-color-#{$color}-50));
      background-color: rgb(var(--kb-color-#{$color}-50));
      color: rgb(var(--kb-color-#{$color}-200));
    }

    #{dark-selector()} {
      border-color: transparent;
      background-color: rgb(var(--kb-color-#{$color}-500) / 0.2);
      color: rgb(var(if($isNeutral, --kb-color-text-2, --kb-color-#{$color}-400)));
    }

    #{dark-selector("&:hover")} {
      border-color: transparent;
      background-color: rgb(var(--kb-color-#{$color}-500) / 0.35);
    }

    #{dark-selector("&:active")} {
      border-color: transparent;
      background-color: rgb(var(--kb-color-#{$color}-500) / 0.5);
    }

    #{dark-selector("&:disabled")} {
      border-color: transparent;
      background-color: rgb(var(--kb-color-#{$color}-600) / 0.1);
      color: rgb(var(--kb-color-#{$color}-500) / 0.3);
    }
  }
}

/* -------------------------------------------------------------------------------------------------
 * variant - outlined
 * -----------------------------------------------------------------------------------------------*/

@each $name, $color in $colorMap {
  $isNeutral: $color == neutral;

  .kb-button--outlined.kb-button--#{$name} {
    $shade: if($isNeutral, 700, 600);
    border-color: rgb(var(--kb-color-#{$color}-#{$shade}));
    background-color: transparent;
    color: rgb(var(--kb-color-#{$color}-#{$shade}));

    &:hover {
      background-color: rgb(var(--kb-color-fill-2));
    }

    &:active {
      background-color: rgb(var(--kb-color-fill-3) / 0.8);
    }

    &:disabled {
      border-color: rgb(var(--kb-color-#{$color}-200));
      background-color: transparent;
      color: rgb(var(--kb-color-#{$color}-200));
    }

    #{dark-selector()} {
      border-color: rgb(var(--kb-color-#{$color}-500));
      color: rgb(var(--kb-color-#{$color}-400));
    }

    #{dark-selector("&:active")} {
      background-color: rgb(var(--kb-color-fill-3));
    }

    #{dark-selector("&:disabled")} {
      border-color: rgb(var(--kb-color-#{$color}-600) / 0.3);
      color: rgb(var(--kb-color-#{$color}-600) / 0.4);
    }
  }
}

/* -------------------------------------------------------------------------------------------------
 * variant - plain
 * -----------------------------------------------------------------------------------------------*/

@each $name, $color in $colorMap {
  $isNeutral: $color == neutral;

  .kb-button--plain.kb-button--#{$name} {
    border-color: transparent;
    background-color: transparent;
    color: rgb(var(--kb-color-#{$color}-#{if($isNeutral, 700, 600)}));

    &:hover {
      border-color: transparent;
      background-color: rgb(var(--kb-color-fill-2));
    }

    &:active {
      border-color: transparent;
      background-color: rgb(var(--kb-color-fill-3));
    }

    &:disabled {
      border-color: transparent;
      background-color: transparent;
      color: rgb(var(--kb-color-#{$color}-200));
    }

    #{dark-selector()} {
      color: rgb(var(--kb-color-#{$color}-400));
    }

    #{dark-selector("&:disabled")} {
      color: rgb(var(--kb-color-#{$color}-600) / 0.4);
    }
  }
}

/* -------------------------------------------------------------------------------------------------
 * size
 * -----------------------------------------------------------------------------------------------*/

.kb-button--xs {
  height: 24px;
  padding: 0 10px;
  font-size: 12px;

  &.kb-button--icon-only {
    width: 24px;
  }
}

.kb-button--sm {
  height: 28px;
  padding: 0 14px;
  font-size: 14px;

  &.kb-button--icon-only {
    width: 28px;
  }
}

.kb-button--md {
  height: 32px;
  padding: 0 16px;
  font-size: 14px;

  &.kb-button--icon-only {
    width: 32px;
  }
}

.kb-button--lg {
  height: 36px;
  padding: 0 18px;
  font-size: 14px;

  &.kb-button--icon-only {
    width: 36px;
  }
}
