:root,
[data-theme*="light"] {
	--kb-border: hsl(240 5% 84%);
	--sb-header-height: 3.8125rem;
	--sb-background-color: hsl(0 0% 100%);
	--sb-heading-color: hsl(240 6% 10%);
	--sb-text-color: hsl(240 4% 46%);
	--sb-decoration-color: hsl(240 5% 65%);
	--sb-active-link-color: hsl(201 96% 32%);
	--sb-link-underline-color: hsl(199 95% 74%);
	--sb-highlight-background-color: hsl(204 94% 94%);
	--sb-code-background-color: hsl(0 0% 98%);
}

[data-theme*="dark"] {
	--kb-border: hsl(240 4% 16%);
	--sb-background-color: hsl(240 6% 10%);
	--sb-heading-color: hsl(0 0% 94%);
	--sb-text-color: hsl(240 5% 65%);
	--sb-decoration-color: hsl(240 5% 46%);
	--sb-active-link-color: hsl(200 98% 39%);
	--sb-link-underline-color: hsl(201 90% 27%);
	--sb-highlight-background-color: hsl(202 80% 14%);
	--sb-code-background-color: hsl(240 4% 16%);
}

body {
	margin: 0;
}

main > article {
	margin-top: 4rem;
}

main > article > div:first-child {
	max-width: 56rem;
}

main > article > aside {
	width: 14rem;
}

main > article > aside nav > span {
	font-family: var(--sb-font-headings);
	font-size: 0.875rem;
	font-weight: 500;
	color: var(--sb-heading-color);
	text-transform: none;
}

main > article > aside nav a {
	padding: 0.5rem 0.75rem;
	border-radius: 0.375rem;
}

main > article > aside nav a:hover {
	background: var(--sb-highlight-background-color);
}

@media (min-width: 1101px) {
	body > div > div > aside:first-of-type {
		width: 14.5rem;
		padding: 1.5rem 0.5rem 1.5rem 1.5rem;
	}
}
