@use "../utils/functions" as *;
@use "../utils/mixins" as *;

// -------------------------------------------------------------------------------------------------
// base
// -------------------------------------------------------------------------------------------------

.kb-button {
  appearance: none;
  position: relative;

  display: inline-flex;
  width: auto;

  outline: none;
  border: 1px solid transparent;

  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  text-decoration: none;

  user-select: none;
  white-space: nowrap;
  vertical-align: middle;

  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 250ms;

  &[data-loading] {
    opacity: 0.8;
  }

  @include focus-visible;

  &:disabled {
    cursor: not-allowed;
  }
}

.kb-button--full-width {
  display: flex;
  width: 100%;
}

// -------------------------------------------------------------------------------------------------
// size
// -------------------------------------------------------------------------------------------------

.kb-button--icon-only {
  &.kb-button--xs,
  &.kb-button--sm,
  &.kb-button--md,
  &.kb-button--lg {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

// -------------------------------------------------------------------------------------------------
// icon
// -------------------------------------------------------------------------------------------------

.kb-button__icon {
  display: inline-flex;
  align-self: center;
  flex-shrink: 0;
}

// -------------------------------------------------------------------------------------------------
// loader
// -------------------------------------------------------------------------------------------------

.kb-button__loader-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: 1em;
  line-height: normal;

  &.kb-button__loader-wrapper--has-loading-text {
    position: relative;
  }
}

.kb-button__loader-icon {
  animation: 1s linear infinite kb-animation-spin;
}
