/* -------------------------------------------------------------------------------------------------
 * DocSearch
 * Credit: https://github.com/vuejs/vitepress/blob/83ce1b8c5e95d2e29e733d9312f514d725fe7f0b/src/client/theme-default/components/VPNavBarSearch.vue
 * -----------------------------------------------------------------------------------------------*/

:root {
	--kb-docsearch-text-light-1: rgba(60, 60, 67);
	--kb-docsearch-text-light-2: rgba(60, 60, 67, 0.75);
	--kb-docsearch-text-dark-1: rgba(255, 255, 245, 0.86);
	--kb-docsearch-text-dark-2: rgba(235, 235, 245, 0.6);
	--kb-docsearch-bg: #ffffff;
	--kb-docsearch-bg-soft: #f6f6f7;
	--kb-docsearch-bg-soft-mute: #e3e3e5;
	--kb-docsearch-bg-alt: #f6f6f7;
	--kb-docsearch-divider: rgba(60, 60, 67, 0.12);
	--kb-docsearch-text-1: var(--kb-docsearch-text-light-1);
	--kb-docsearch-text-2: var(--kb-docsearch-text-light-2);
	--kb-docsearch-brand: #0284c7;
}

[data-theme*="dark"] {
	--kb-docsearch-bg: #1e1e20;
	--kb-docsearch-bg-soft: #252529;
	--kb-docsearch-bg-soft-mute: #313136;
	--kb-docsearch-bg-alt: #27272a;
	--kb-docsearch-divider: rgba(82, 82, 89, 0.32);
	--kb-docsearch-text-1: var(--kb-docsearch-text-dark-1);
	--kb-docsearch-text-2: var(--kb-docsearch-text-dark-2);
}

.DocSearch {
	--docsearch-primary-color: var(--kb-docsearch-brand);
	--docsearch-highlight-color: var(--docsearch-primary-color);
	--docsearch-text-color: var(--kb-docsearch-text-1);
	--docsearch-muted-color: var(--kb-docsearch-text-2);
	--docsearch-searchbox-shadow: none;
	--docsearch-searchbox-focus-background: transparent;
	--docsearch-key-gradient: transparent;
	--docsearch-key-shadow: none;
	--docsearch-modal-background: var(--kb-docsearch-bg-soft);
	--docsearch-footer-background: var(--kb-docsearch-bg);
}

[data-theme*="dark"] .DocSearch {
	--docsearch-modal-shadow: none;
	--docsearch-footer-shadow: none;
	--docsearch-logo-color: var(--kb-docsearch-text-2);
	--docsearch-hit-background: var(--kb-docsearch-bg-soft-mute);
	--docsearch-hit-color: var(--kb-docsearch-text-2);
	--docsearch-hit-shadow: none;
}

.DocSearch-Button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 32px;
	height: 40px;
	background: transparent;
	transition: border-color 0.25s;
}

.DocSearch-Button:hover {
	background: transparent;
}

.DocSearch-Button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.DocSearch-Button:focus:not(:focus-visible) {
	outline: none !important;
}

@media (min-width: 768px) {
	.DocSearch-Button.DocSearch-Button {
		justify-content: flex-start;
		border: 1px solid transparent;
		border-radius: 8px;
		padding: 0 10px 0 12px;
		width: 100%;
		height: 40px;
		background-color: var(--kb-docsearch-bg-alt);
	}

	.DocSearch-Button:hover {
		border-color: var(--kb-docsearch-brand);
		background: var(--kb-docsearch-bg-alt);
	}
}

.DocSearch-Button .DocSearch-Button-Container {
	display: flex;
	align-items: center;
}

.DocSearch-Button .DocSearch-Search-Icon {
	position: relative;
	width: 16px;
	height: 16px;
	color: var(--kb-docsearch-text-1);
	fill: currentColor;
	transition: color 0.5s;
}

.DocSearch-Button:hover .DocSearch-Search-Icon {
	color: var(--kb-docsearch-text-1);
}

@media (min-width: 768px) {
	.DocSearch-Button .DocSearch-Search-Icon {
		top: 1px;
		margin-right: 8px;
		width: 14px;
		height: 14px;
		color: var(--kb-docsearch-text-2);
	}
}

.DocSearch-Button .DocSearch-Button-Placeholder {
	display: none;
	margin-top: 2px;
	padding: 0 16px 0 0;
	font-size: 13px;
	font-weight: 500;
	color: var(--kb-docsearch-text-2);
	transition: color 0.5s;
}

.DocSearch-Button:hover .DocSearch-Button-Placeholder {
	color: var(--kb-docsearch-text-1);
}

@media (min-width: 768px) {
	.DocSearch-Button .DocSearch-Button-Placeholder {
		display: inline-block;
	}
}

.DocSearch-Button .DocSearch-Button-Keys {
	/*rtl:ignore*/
	direction: ltr;
	display: none;
	min-width: auto;
}

@media (min-width: 768px) {
	.DocSearch-Button .DocSearch-Button-Keys {
		display: flex;
		align-items: center;
	}
}

.DocSearch-Button .DocSearch-Button-Key {
	font-family: var(--sb-font-text);
	display: block;
	margin: 2px 0 0 0;
	border: 1px solid var(--kb-docsearch-divider);
	/*rtl:begin:ignore*/
	border-right: none;
	border-radius: 4px 0 0 4px;
	padding-left: 6px;
	/*rtl:end:ignore*/
	min-width: 0;
	width: auto;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	font-weight: 500;
	transition:
		color 0.5s,
		border-color 0.5s;
}

.DocSearch-Button .DocSearch-Button-Key + .DocSearch-Button-Key {
	/*rtl:begin:ignore*/
	border-right: 1px solid var(--kb-docsearch-divider);
	border-left: none;
	border-radius: 0 4px 4px 0;
	padding-left: 2px;
	padding-right: 6px;
	/*rtl:end:ignore*/
}
.DocSearch-Button .DocSearch-Button-Key:first-child {
	font-size: 1px;
	letter-spacing: -12px;
	color: transparent;
}

.DocSearch-Button .DocSearch-Button-Key:first-child:after {
	content: "⌘";
	font-size: 12px;
	letter-spacing: normal;
	color: var(--docsearch-muted-color);
}

.DocSearch-Button .DocSearch-Button-Key:first-child > * {
	display: none;
}

[data-theme*="dark"] .DocSearch-Footer {
	border-top: 1px solid var(--kb-docsearch-divider);
}

.DocSearch-Form {
	border: 1px solid var(--kb-docsearch-brand);
	background-color: #fff;
}

[data-theme*="dark"] .DocSearch-Form {
	background-color: var(--kb-docsearch-bg-soft-mute);
}

.DocSearch-Screen-Icon > svg {
	margin: auto;
}
