@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/lexend.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Inter-roman.var.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/fonts/Inter-italic.var.woff2") format("woff2");
}

@layer base {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .kb-button {
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: auto;
    outline: none;
    border: 1px solid hsl(240 5% 84%);
    border-radius: 6px;
    padding: 0 16px;
    background-color: transparent;
    color: hsl(240 6% 10%);
    font-size: 16px;
    line-height: 0;
    transition: background-color;
  }

  .kb-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .kb-button:hover {
    background-color: hsl(0 0% 98%);
  }

  .kb-button:focus-visible {
    outline: 2px solid hsl(200 98% 39%);
    outline-offset: 2px;
  }

  .kb-button:active {
    background-color: hsl(240 6% 90%);
  }

  [data-kb-theme="dark"] .kb-button {
    border-color: transparent;
    background-color: hsl(240 4% 16%);
    color: hsla(0 100% 100% / 0.9);
  }

  [data-kb-theme="dark"] .kb-button:hover {
    background-color: hsl(240 5% 34%);
  }

  [data-kb-theme="dark"] .kb-button:active {
    background-color: hsl(240 4% 46%);
  }

  .kb-button-primary {
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: auto;
    outline: none;
    border-radius: 6px;
    padding: 0 16px;
    background-color: hsl(200 98% 39%);
    color: white;
    font-size: 16px;
    line-height: 0;
    transition: 250ms background-color;
  }

  .kb-button-primary:hover {
    background-color: hsl(201 96% 32%);
  }

  .kb-button-primary:focus-visible {
    outline: 2px solid hsl(200 98% 39%);
    outline-offset: 2px;
  }

  .kb-button-primary:active {
    background-color: hsl(201 90% 27%);
  }

  [data-kb-theme="dark"] .kb-button-primary {
    background-color: hsl(201 96% 32%);
    color: hsla(0 100% 100% / 0.9);
  }

  [data-kb-theme="dark"] .kb-button-primary:hover {
    background-color: hsl(200 98% 39%);
  }

  [data-kb-theme="dark"] .kb-button-primary:active {
    background-color: hsl(199 89% 48%);
  }

  .kb-table .kb-code {
    @apply bg-transparent dark:bg-transparent p-0 text-sky-700;
  }

  .kb-tabs-snippets pre.shiki {
    margin: 0;
    border: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .kb-preview + .kb-tabs-snippets {
    margin: 0;
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

/* -------------------------------------------------------------------------------------------------
 * DocSearch
 * Credit: https://github.com/vuejs/vitepress/blob/83ce1b8c5e95d2e29e733d9312f514d725fe7f0b/src/client/theme-default/components/VPNavBarSearch.vue
 * -----------------------------------------------------------------------------------------------*/

:root {
  --kb-docsearch-text-light-1: rgba(60, 60, 67);
  --kb-docsearch-text-light-2: rgba(60, 60, 67, 0.75);
  --kb-docsearch-text-dark-1: rgba(255, 255, 245, 0.86);
  --kb-docsearch-text-dark-2: rgba(235, 235, 245, 0.6);
  --kb-docsearch-bg: #ffffff;
  --kb-docsearch-bg-soft: #f6f6f7;
  --kb-docsearch-bg-soft-mute: #e3e3e5;
  --kb-docsearch-bg-alt: #f6f6f7;
  --kb-docsearch-divider: rgba(60, 60, 67, 0.12);
  --kb-docsearch-text-1: var(--kb-docsearch-text-light-1);
  --kb-docsearch-text-2: var(--kb-docsearch-text-light-2);
  --kb-docsearch-brand: #0284c7;
}

[data-kb-theme="dark"] {
  --kb-docsearch-bg: #1e1e20;
  --kb-docsearch-bg-soft: #252529;
  --kb-docsearch-bg-soft-mute: #313136;
  --kb-docsearch-bg-alt: #27272a;
  --kb-docsearch-divider: rgba(82, 82, 89, 0.32);
  --kb-docsearch-text-1: var(--kb-docsearch-text-dark-1);
  --kb-docsearch-text-2: var(--kb-docsearch-text-dark-2);
}

.DocSearch {
  --docsearch-primary-color: var(--kb-docsearch-brand);
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-text-color: var(--kb-docsearch-text-1);
  --docsearch-muted-color: var(--kb-docsearch-text-2);
  --docsearch-searchbox-shadow: none;
  --docsearch-searchbox-focus-background: transparent;
  --docsearch-key-gradient: transparent;
  --docsearch-key-shadow: none;
  --docsearch-modal-background: var(--kb-docsearch-bg-soft);
  --docsearch-footer-background: var(--kb-docsearch-bg);
}

[data-kb-theme="dark"] .DocSearch {
  --docsearch-modal-shadow: none;
  --docsearch-footer-shadow: none;
  --docsearch-logo-color: var(--kb-docsearch-text-2);
  --docsearch-hit-background: var(--kb-docsearch-bg-soft-mute);
  --docsearch-hit-color: var(--kb-docsearch-text-2);
  --docsearch-hit-shadow: none;
}

.DocSearch-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 40px;
  background: transparent;
  transition: border-color 0.25s;
}

.DocSearch-Button:hover {
  background: transparent;
}

.DocSearch-Button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.DocSearch-Button:focus:not(:focus-visible) {
  outline: none !important;
}

@media (min-width: 768px) {
  .DocSearch-Button {
    justify-content: flex-start;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0 10px 0 12px;
    width: 100%;
    height: 40px;
    background-color: var(--kb-docsearch-bg-alt);
  }

  .DocSearch-Button:hover {
    border-color: var(--kb-docsearch-brand);
    background: var(--kb-docsearch-bg-alt);
  }
}

.DocSearch-Button .DocSearch-Button-Container {
  display: flex;
  align-items: center;
}

.DocSearch-Button .DocSearch-Search-Icon {
  position: relative;
  width: 16px;
  height: 16px;
  color: var(--kb-docsearch-text-1);
  fill: currentColor;
  transition: color 0.5s;
}

.DocSearch-Button:hover .DocSearch-Search-Icon {
  color: var(--kb-docsearch-text-1);
}

@media (min-width: 768px) {
  .DocSearch-Button .DocSearch-Search-Icon {
    top: 1px;
    margin-right: 8px;
    width: 14px;
    height: 14px;
    color: var(--kb-docsearch-text-2);
  }
}

.DocSearch-Button .DocSearch-Button-Placeholder {
  display: none;
  margin-top: 2px;
  padding: 0 16px 0 0;
  font-size: 13px;
  font-weight: 500;
  color: var(--kb-docsearch-text-2);
  transition: color 0.5s;
}

.DocSearch-Button:hover .DocSearch-Button-Placeholder {
  color: var(--kb-docsearch-text-1);
}

@media (min-width: 768px) {
  .DocSearch-Button .DocSearch-Button-Placeholder {
    display: inline-block;
  }
}

.DocSearch-Button .DocSearch-Button-Keys {
  /*rtl:ignore*/
  direction: ltr;
  display: none;
  min-width: auto;
}

@media (min-width: 768px) {
  .DocSearch-Button .DocSearch-Button-Keys {
    display: flex;
    align-items: center;
  }
}

.DocSearch-Button .DocSearch-Button-Key {
  @apply font-sans;
  display: block;
  margin: 2px 0 0 0;
  border: 1px solid var(--kb-docsearch-divider);
  /*rtl:begin:ignore*/
  border-right: none;
  border-radius: 4px 0 0 4px;
  padding-left: 6px;
  /*rtl:end:ignore*/
  min-width: 0;
  width: auto;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  font-weight: 500;
  transition: color 0.5s, border-color 0.5s;
}

.DocSearch-Button .DocSearch-Button-Key + .DocSearch-Button-Key {
  /*rtl:begin:ignore*/
  border-right: 1px solid var(--kb-docsearch-divider);
  border-left: none;
  border-radius: 0 4px 4px 0;
  padding-left: 2px;
  padding-right: 6px;
  /*rtl:end:ignore*/
}
.DocSearch-Button .DocSearch-Button-Key:first-child {
  font-size: 1px;
  letter-spacing: -12px;
  color: transparent;
}

.DocSearch-Button .DocSearch-Button-Key:first-child:after {
  content: "⌘";
  font-size: 12px;
  letter-spacing: normal;
  color: var(--docsearch-muted-color);
}

.DocSearch-Button .DocSearch-Button-Key:first-child > * {
  display: none;
}

[data-kb-theme="dark"] .DocSearch-Footer {
  border-top: 1px solid var(--kb-docsearch-divider);
}

.DocSearch-Form {
  border: 1px solid var(--kb-docsearch-brand);
  background-color: #fff;
}

[data-kb-theme="dark"] .DocSearch-Form {
  background-color: var(--kb-docsearch-bg-soft-mute);
}

.DocSearch-Screen-Icon > svg {
  margin: auto;
}

/* -------------------------------------------------------------------------------------------------
 * Shiki Twoslash CSS
 * -----------------------------------------------------------------------------------------------*/

.kb-preview + pre.shiki,
.kb-preview + pre.shiki + pre.shiki {
  margin: 0 0 16px 0;
  padding: 16px;
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

pre.shiki .kb-copy-btn {
  opacity: 0;
}

pre.shiki:hover .kb-copy-btn {
  opacity: 1;
}

pre {
  /* In theory shiki will overwrite these, but this is to make sure there are defaults regardless */
  background-color: white;
  color: black;

  /* Give it some space to breathe */
  padding: 12px;

  /* All code samples get a grey border, twoslash ones get a different color */
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;

  margin-top: 1rem;
  margin-bottom: 1rem;

  /* Important to allow the code to move horizontally; */
  overflow-x: auto;
  position: relative;
}

[data-kb-theme="light"] .shiki.github-dark {
  display: none !important;
}

[data-kb-theme="dark"] .shiki.github-light {
  display: none !important;
}

pre.shiki {
  overflow-x: auto;

  display: flex;
  align-items: center;

  border-radius: 8px;
  border: 1px solid #e4e4e7;

  background-color: #fafafa !important;

  padding: 12px;

  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

[data-kb-theme="dark"] pre.shiki {
  border-color: #3f3f46;
  background-color: #27272a !important;
}

/* Reset mdx-components `code`. */
pre.shiki code {
  font-size: 14px;
  border-radius: initial;
  background: initial;
  padding-inline-start: initial;
  padding-inline-end: initial;
  padding-top: initial;
  padding-bottom: initial;
  overflow-wrap: initial;
}

pre.shiki:hover .dim {
  opacity: 1;
}
pre.shiki div.dim {
  opacity: 0.7;
}
pre.shiki div.dim,
pre.shiki div.highlight {
  margin: 0;
  padding: 0;
}
pre.shiki div.highlight {
  opacity: 1;
  background-color: rgb(224 242 254 / 0.8);
}
[data-kb-theme="dark"] pre.shiki div.highlight {
  background-color: rgb(12 74 110 / 0.4);
}
pre.shiki div.line {
  min-height: 1rem;
}

/** Don't show the language identifiers */
pre.shiki .language-id {
  display: none;
}

/* Visually differentiates twoslash code samples  */
pre.twoslash {
  border-color: #719af4;
}

/** When you mouse over the pre, show the underlines */
pre.twoslash:hover data-lsp {
  border-color: #747474;
}

/** The tooltip-like which provides the LSP response */
pre.twoslash data-lsp:hover::before {
  content: attr(lsp);
  position: absolute;
  transform: translate(0, 1rem);

  background-color: #3f3f3f;
  color: #fff;
  text-align: left;
  padding: 5px 8px;
  border-radius: 2px;
  font-family: "JetBrains Mono", Menlo, Monaco, Consolas, Courier New, monospace;
  font-size: 14px;
  white-space: pre-wrap;
  z-index: 100;
}

pre .code-container {
  overflow: auto;
  width: 100%;
}
/* The try button */
pre .code-container > a {
  position: absolute;
  right: 8px;
  bottom: 8px;
  border-radius: 4px;
  border: 1px solid #719af4;
  padding: 0 8px;
  color: #719af4;
  text-decoration: none;
  opacity: 0;
  transition-timing-function: ease;
  transition: opacity 0.3s;
}
/* Respect no animations */
@media (prefers-reduced-motion: reduce) {
  pre .code-container > a {
    transition: none;
  }
}
pre .code-container > a:hover {
  color: white;
  background-color: #719af4;
}
pre .code-container:hover a {
  opacity: 1;
}

pre code {
  font-size: 14px;
  font-family: "JetBrains Mono", Menlo, Monaco, Consolas, Courier New, monospace;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
}
pre code a {
  text-decoration: none;
}
pre data-err {
  /* Extracted from VS Code */
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23c94824'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
    repeat-x bottom left;
  padding-bottom: 3px;
}
pre .query {
  margin-bottom: 10px;
  color: #137998;
  display: inline-block;
}

/* In order to have the 'popped out' style design and to not break the layout
  /* we need to place a fake and un-selectable copy of the error which _isn't_ broken out
  /* behind the actual error message.
  /* This sections keeps both of those two in in sync  */

pre .error,
pre .error-behind {
  margin-left: -14px;
  margin-top: 8px;
  margin-bottom: 4px;
  padding: 6px 6px 6px 14px;
  width: calc(100% - 20px);
  white-space: pre-wrap;
  display: block;
}
pre .error {
  position: absolute;
  background-color: #fee;
  border-left: 2px solid #bf1818;
  /* Give the space to the error code */
  display: flex;
  align-items: center;
  color: black;
}
pre .error .code {
  display: none;
}
pre .error-behind {
  user-select: none;
  visibility: transparent;
  color: #fee;
}
/* Queries */
pre .arrow {
  /* Transparent background */
  background-color: #eee;
  position: relative;
  top: -7px;
  margin-left: 0.1rem;
  /* Edges */
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  transform: translateY(25%) rotate(45deg);
  /* Size */
  height: 8px;
  width: 8px;
}
pre .popover {
  margin-bottom: 10px;
  background-color: #eee;
  display: inline-block;
  padding: 0 0.5rem 0.3rem;
  margin-top: 10px;
  border-radius: 3px;
}
/* Completion */
pre .inline-completions ul.dropdown {
  display: inline-block;
  position: absolute;
  width: 240px;
  background-color: gainsboro;
  color: grey;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  border-left: 4px solid #4b9edd;
}
pre .inline-completions ul.dropdown::before {
  background-color: #4b9edd;
  width: 2px;
  position: absolute;
  top: -1.2rem;
  left: -3px;
  content: " ";
}
pre .inline-completions ul.dropdown li {
  overflow-x: hidden;
  padding-left: 4px;
  margin-bottom: 4px;
}
pre .inline-completions ul.dropdown li.deprecated {
  text-decoration: line-through;
}
pre .inline-completions ul.dropdown li span.result-found {
  color: #4b9edd;
}
pre .inline-completions ul.dropdown li span.result {
  width: 100px;
  color: black;
  display: inline-block;
}
.dark-theme .markdown pre {
  background-color: #d8d8d8;
  border-color: #ddd;
  filter: invert(98%) hue-rotate(180deg);
}
data-lsp {
  /* Ensures there's no 1px jump when the hover happens */
  border-bottom: 1px dotted transparent;
  /* Fades in unobtrusively */
  transition-timing-function: ease;
  transition: border-color 0.3s;
}
/* Respect people's wishes to not have animations */
@media (prefers-reduced-motion: reduce) {
  data-lsp {
    transition: none;
  }
}

/** Annotations support, providing a tool for meta commentary */
.tag-container {
  position: relative;
}
.tag-container .twoslash-annotation {
  position: absolute;
  font-family: "JetBrains Mono", Menlo, Monaco, Consolas, Courier New, monospace;
  right: -10px;
  /** Default annotation text to 200px */
  width: 200px;
  color: #187abf;
  background-color: #fcf3d9;
}
.tag-container .twoslash-annotation p {
  text-align: left;
  font-size: 0.8rem;
  line-height: 0.9rem;
}
.tag-container .twoslash-annotation svg {
  float: left;
  margin-left: -44px;
}
.tag-container .twoslash-annotation.left {
  right: auto;
  left: -200px;
}
.tag-container .twoslash-annotation.left svg {
  float: right;
  margin-right: -5px;
}

/** Support for showing console log/warn/errors inline */
pre .logger {
  display: flex;
  align-items: center;
  color: black;
  padding: 6px 6px 6px 8px;
  width: calc(100% - 19px);
  white-space: pre-wrap;
}
pre .logger svg {
  margin-right: 9px;
}
pre .logger.error-log {
  background-color: #fee;
  border-left: 2px solid #bf1818;
}
pre .logger.warn-log {
  background-color: #ffe;
  border-left: 2px solid #eae662;
}
pre .logger.log-log {
  background-color: #e9e9e9;
  border-left: 2px solid #ababab;
}
pre .logger.log-log svg {
  margin-left: 6px;
  margin-right: 9px;
}
