.footer {
	margin-top: 3rem;
	padding: 2rem 1rem 0;
	border-top: 1px solid var(--kb-border);
	color: var(--sb-text-color);
}

.content {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	gap: 1rem;
	padding: 0 0 1rem;
}

.brand {
	color: var(--sb-heading-color);
	font-family: var(--sb-font-headings);
	font-size: 1.25rem;
	font-weight: 600;
	text-decoration: none;
}

.brand span {
	color: hsl(200 98% 39%);
	font-size: 1.875rem;
	line-height: 0;
}

.footer p {
	margin: 0.5rem 0 0;
	font-size: 0.875rem;
}

.footer p a,
.netlify {
	color: inherit;
	box-shadow: hsl(240 5% 84% / 0.25) 0 -2px 0 0 inset;
	text-decoration: none;
}

.footer p a:hover,
.netlify:hover {
	box-shadow: hsl(240 5% 84% / 0.5) 0 -4px 0 0 inset;
}

.community {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	color: var(--sb-heading-color);
	font-weight: 500;
}

.community > div {
	display: flex;
	gap: 1.5rem;
}

.community a {
	color: var(--sb-text-color);
	text-decoration: none;
}

.community svg {
	display: block;
	width: 1rem;
	height: 1rem;
}

.community a:hover {
	color: var(--sb-heading-color);
}

.netlify {
	display: table;
	margin: 0 auto;
	font-size: 0.875rem;
}

@media (max-width: 640px) {
	.content {
		flex-direction: column;
	}
}
