html,
body,
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: hsl(204 20% 100%);
  padding: 0.5rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.tab-list {
  display: flex;
  gap: 0.5rem;
}

.tab {
  display: flex;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.tab[data-hover] {
  background-color: hsl(204 10% 10% / 0.1);
}

.tab[data-focus-visible] {
  outline: 2px solid hsl(204 100% 40%);
  outline-offset: 2px;
}

.tab[data-disabled] {
  opacity: 0.5;
}

.tab[data-selected] {
  background-color: hsl(204 100% 40%);
  color: hsl(204 20% 100%);
}

.tab[data-hover][data-selected] {
  background-color: hsl(204 100% 32%);
}

.panels {
  padding: 0.5rem;
}
