* {
  box-sizing: border-box;
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: hsl(204 20% 100%);
  padding: 1rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.combobox {
  height: 2.5rem;
  width: 250px;
  border-radius: 0.375rem;
  border-style: none;
  background-color: hsl(204 20% 94% / 0.4);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(204 10% 10%);
  box-shadow: inset 0 0 0 1px rgba(0 0 0 / 0.1), inset 0 2px 5px 0 rgba(0 0 0 / 0.05);
}

.combobox::placeholder {
  color: hsl(204 10% 10% / 0.6);
}

.combobox:hover {
  background-color: hsl(204 20% 94%);
}

.combobox:focus-visible,
.combobox[data-focus-visible] {
  outline: 2px solid hsl(204 100% 40%);
}

.popover {
  position: relative;
  z-index: 50;
  display: flex;
  max-height: 300px;
  flex-direction: column;
  overflow: auto;
  overscroll-behavior: contain;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(204 20% 88%);
  background-color: hsl(204 20% 100%);
  padding: 0.5rem;
  color: hsl(204 10% 10%);
  outline: 2px solid transparent;
  outline-offset: 2px;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.combobox-item {
  display: flex;
  cursor: default;
  scroll-margin: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  outline: none !important;
}

.combobox-item:hover {
  background-color: hsl(204 100% 80% / 0.4);
}

.combobox-item[data-focus] {
  background-color: hsl(204 100% 40%);
  color: hsl(204 20% 100%);
}
