html,
body,
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.trigger {
  display: flex;
  height: 2.5rem;
  width: 200px;
  cursor: default;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  white-space: nowrap;
  border-radius: 0.375rem;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(204 20% 88%);
  background-color: hsl(204 20% 100%);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.panel {
  z-index: 50;
  display: flex;
  max-height: 300px;
  flex-direction: column;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(204 20% 88%);
  background-color: hsl(204 20% 100%);
  padding: 0.5rem;
  color: hsl(204 10% 10%);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.listbox {
  overflow-y: auto;
  overscroll-behavior: contain;
}

.trigger[data-focus-visible] {
  outline: 2px solid hsl(204 100% 40%);
}

.option {
  display: flex;
  cursor: default;
  scroll-margin: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  outline: none !important;
}

.option[data-focus] {
  background-color: hsl(204 100% 40%);
  color: hsl(204 20% 100%);
}

.option[data-disabled] {
  opacity: 0.5;
}
