.root {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	gap: 8px;
	font-family: ui-sans-serif, system-ui, sans-serif;
	user-select: none;
}

.background {
	position: relative;
	width: 192px;
	height: 192px;
	border-radius: 6px;
	cursor: crosshair;
	touch-action: none;
	forced-color-adjust: none;
}

.thumb {
	width: 20px;
	height: 20px;
	border-radius: 9999px;
	border: 2px solid #fff;
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
	cursor: grab;
	outline: none;
	background: var(--kb-color-current);
}

.thumb:focus-visible {
	outline: none;
	box-shadow: 0 0 0 2px #fff;
}

.label {
	font-size: 14px;
	font-weight: 500;
	color: hsl(217 33% 46%);
}

.error {
	font-size: 12px;
	color: hsl(0 72% 51%);
}

.description {
	font-size: 12px;
	color: hsl(218 11% 65%);
}

.text {
	font-size: 12px;
	color: hsl(218 11% 65%);
}

.controlledWrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
	font-family: ui-sans-serif, system-ui, sans-serif;
}

.labelDisabled {
	font-size: 14px;
	font-weight: 500;
	color: hsl(217 21% 77%);
}

.backgroundDisabled {
	position: relative;
	width: 192px;
	height: 192px;
	border-radius: 6px;
	opacity: 0.5;
	cursor: not-allowed;
	touch-action: none;
	forced-color-adjust: none;
}

.thumbDisabled {
	width: 20px;
	height: 20px;
	border-radius: 9999px;
	border: 2px solid hsl(217 21% 77%);
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
	cursor: not-allowed;
	outline: none;
	background: var(--kb-color-current);
}

.thumbInvalid {
	width: 20px;
	height: 20px;
	border-radius: 9999px;
	border: 2px solid hsl(0 84% 60%);
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
	cursor: grab;
	outline: none;
	background: var(--kb-color-current);
}
