* {
  all: unset;
  font: 15px sans-serif;

  --theme: 210 30%;
  --active: hsl(var(--theme) 90%);
  --hover: hsl(var(--theme) 80%);
  --down: hsl(var(--theme) 70%);
  --shadow: 0 2px 4px rgb(0 0 0 / 0.3);
  --shadow-lg: 0 4px 8px rgb(0 0 0 / 0.3);
}

.hidden {
  display: none;
}

.pad-block {
  padding: 1rem;
}

.row {
  display: flex;
  flex-flow: row;
}

.column {
  display: flex;
  flex-flow: column;
}

.gap {
  gap: 0.5rem;
}

.active {
  cursor: pointer;
  user-select: none;

  background: var(--active);
  transition: background-color 200ms;
}
.active:hover {
  background: var(--hover);
}
.active:active {
  background: var(--down);
}

.center {
  text-align: center;
}

.flex {
  flex: 1;
}

.text-pad {
  padding: 0.25rem 0.75rem;
}

.shadow {
  box-shadow: var(--shadow);
}
.shadow-lg {
  box-shadow: var(--shadow-lg);
}
.inset-shadow {
  box-shadow: inset var(--shadow);
}

.rounded {
  border-radius: 0.5rem;
}

.clip {
  overflow: clip;
}

.placeholder-opacity[data-placeholder-shown] {
  opacity: 0.5;
}

.switch__control {
  display: inline-block;
  width: 4rem;
  height: 2rem;
  border-radius: 9999px;
  position: relative;
}
.switch__thumb {
  display: block;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 0.25rem;
  left: 0.25rem;
  border-radius: 9999px;
  background: black;
  transition: left 200ms;
}
.switch__thumb[data-checked] {
  left: 2.25rem;
}
