.button {
  display: flex;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  white-space: nowrap;
  border-radius: 0.5rem;
  border-style: none;
  background-color: hsl(204 100% 40%);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(204 20% 100%);
  text-decoration-line: none;
}

.button:hover {
  background-color: hsl(204 100% 32%);
}

.button:focus,
.button[data-focus] {
  outline: 2px solid hsl(204 100% 40%);
  outline-offset: 2px;
}

.button[aria-disabled="true"] {
  opacity: 0.5;
}

.menu {
  position: relative;
  z-index: 50;
  display: flex;
  max-height: var(--popover-available-height);
  min-width: 180px;
  flex-direction: column;
  overscroll-behavior: contain;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(204 20% 88%);
  background-color: hsl(204 20% 100%);
  padding: 0.5rem;
  color: hsl(204 10% 10%);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  outline: none !important;
  overflow: visible;
}

.menu-item {
  display: flex;
  cursor: default;
  scroll-margin: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  outline: none !important;
}

.menu-item[data-focus] {
  background-color: hsl(204 100% 40%);
  color: hsl(204 20% 100%);
}

.menu-item:active,
.menu-item[data-active] {
  background-color: hsl(204 100% 32%);
}

.menu-item[aria-disabled="true"] {
  opacity: 0.25;
}

.menu-item-trigger {
  display: flex;
  cursor: default;
  scroll-margin: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  outline: none !important;
}

.menu-item-trigger[data-focus] {
  background-color: hsl(204 100% 40%);
  color: hsl(204 20% 100%);
}

.menu-item-trigger:active,
.menu-item-trigger[data-active] {
  background-color: hsl(204 100% 32%);
}

.menu-item-trigger[aria-disabled="true"] {
  opacity: 0.25;
}

.menu-item-trigger:not([data-focus])[data-expanded] {
  background-color: hsl(204 10% 10% / 0.1);
  color: currentColor;
}
