@import "tailwindcss/base";
@import "@kobalte/core/dist/styles/base.css";

@import "tailwindcss/components";
@import "@kobalte/core/dist/styles/components.css";

@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "Lexend";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/lexend.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 100 900;
    font-display: block;
    font-style: normal;
    font-named-instance: "Regular";
    src: url("/fonts/Inter-roman.var.woff2") format("woff2");
  }
  @font-face {
    font-family: "Inter";
    font-weight: 100 900;
    font-display: block;
    font-style: italic;
    font-named-instance: "Italic";
    src: url("/fonts/Inter-italic.var.woff2") format("woff2");
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
