// -------------------------------------------------------------------------------------------------
// CSS Variables
// -------------------------------------------------------------------------------------------------

:root {
}

[data-kb-theme="dark"] {
}

// -------------------------------------------------------------------------------------------------
// Preflight
// -------------------------------------------------------------------------------------------------

// Use a more-intuitive box-sizing model.
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove default margin.
* {
  margin: 0;
}

// Use accessible typography.
html {
  font-family: Roboto, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-size: 16px; // set 1rem unit
}

// Improve text rendering.
body {
  background-color: rgb(var(--kb-color-bg-1));
  color: rgb(var(--kb-color-text-1));
  font-family: inherit;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Improve media defaults.
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

// Remove built-in form typography styles.
button,
input,
textarea,
select {
  font: inherit;
}

// Remove built-in headings typography styles.
h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}

// Avoid text overflows.
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

// Add default styles for svg-based icon.
.kb-icon {
  display: inline-block;
  flex-shrink: 0;
  height: 1em;
  width: 1em;
  color: currentColor;
  line-height: 1em;
  vertical-align: middle;
}

// -------------------------------------------------------------------------------------------------
// Animations
// -------------------------------------------------------------------------------------------------

@keyframes kb-animation-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
