.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	font-family: ui-sans-serif, system-ui, sans-serif;
}

.root {
	position: relative;
	display: inline-block;
}

.track {
	display: block;
	width: 192px;
	height: 192px;
}

.thumb {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 9999px;
	border: 2px solid #fff;
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
	cursor: grab;
	outline: none;
	background: var(--kb-color-current);
}

.thumb:focus-visible {
	outline: none;
	box-shadow: 0 0 0 2px #fff;
}

.label {
	font-size: 14px;
	font-weight: 500;
	color: hsl(217 33% 46%);
}

.valueLabel {
	font-size: 14px;
	color: hsl(218 11% 65%);
	margin-top: 4px;
	text-align: center;
}

.error {
	font-size: 12px;
	color: hsl(0 72% 51%);
}

.description {
	font-size: 12px;
	color: hsl(218 11% 65%);
}

.previewBox {
	height: 32px;
	width: 192px;
	border-radius: 6px;
	border: 1px solid hsl(215 16% 93%);
}

.text {
	font-size: 12px;
	color: hsl(218 11% 65%);
}

.controlledWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	font-family: ui-sans-serif, system-ui, sans-serif;
}

.rootSans {
	position: relative;
	display: inline-block;
	font-family: ui-sans-serif, system-ui, sans-serif;
}

.trackDisabled {
	display: block;
	width: 192px;
	height: 192px;
	opacity: 0.5;
	cursor: not-allowed;
}

.thumbDisabled {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 9999px;
	border: 2px solid #fff;
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
	cursor: not-allowed;
	outline: none;
	background: var(--kb-color-current);
}

.validationWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	font-family: ui-sans-serif, system-ui, sans-serif;
}

.thumbInvalid {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 9999px;
	border: 2px solid hsl(0 84% 60%);
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
	cursor: grab;
	outline: none;
	background: var(--kb-color-current);
}

.trackWithMargin {
	display: block;
	width: 192px;
	height: 192px;
	margin-top: 4px;
}
