// -------------------------------------------------------------------------------------------------
// A Material Design 3 inspired theme
// -------------------------------------------------------------------------------------------------

@forward "../variables/base" with (
  $kb-font-family: (
    Roboto,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji",
  )
);
