.separator__horizontal {
	border: none;
	border-top: 1px solid hsl(214 20% 90%);
}

.separator__vertical {
	border: none;
	border-left: 1px solid hsl(217 33% 82%);
	height: 1rem;
}

.separator__as-div {
	background-color: hsl(214 20% 90%);
	height: 1px;
	border: none;
}

.separator__col {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	font-family: sans-serif;
	font-size: 0.875rem;
	color: hsl(215 25% 27%);
	width: 16rem;
}

.separator__row {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	font-family: sans-serif;
	font-size: 0.875rem;
	color: hsl(215 25% 27%);
}
