@use "common/functions" as *;
@use "common/mixins" as *;
@use "themes/default/button" as *;

// -------------------------------------------------------------------------------------------------
// base
// -------------------------------------------------------------------------------------------------

.kb-button {
  appearance: none;
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: auto;

  outline: none;

  border: 1px solid transparent;

  padding: 0;

  font-family: inherit;
  font-size: 100%;
  font-weight: $kb-button-font-weight;
  line-height: 1;
  text-decoration: none;

  user-select: none;
  white-space: nowrap;
  vertical-align: middle;

  transition-property: color, background-color, border-color;
  transition-duration: 250ms;

  &[data-loading] {
    opacity: 0.8;
  }

  @include focus-visible;

  &:disabled {
    cursor: not-allowed;
  }
}

.kb-button--full-width {
  display: flex;
  width: 100%;
}

// -------------------------------------------------------------------------------------------------
// variant - solid
// -------------------------------------------------------------------------------------------------

// primary
.kb-button--solid.kb-button--primary {
  box-shadow: $kb-button-solid-primary-box-shadow;
  border-color: $kb-button-solid-primary-border-color;
  background-color: $kb-button-solid-primary-background-color;
  color: $kb-button-solid-primary-color;

  &:hover {
    box-shadow: $kb-button-solid-primary-hover-box-shadow;
    border-color: $kb-button-solid-primary-hover-border-color;
    background-color: $kb-button-solid-primary-hover-background-color;
    color: $kb-button-solid-primary-hover-color;
  }

  &:active {
    box-shadow: $kb-button-solid-primary-active-box-shadow;
    border-color: $kb-button-solid-primary-active-border-color;
    background-color: $kb-button-solid-primary-active-background-color;
    color: $kb-button-solid-primary-active-color;
  }

  &:disabled {
    box-shadow: $kb-button-solid-primary-disabled-box-shadow;
    border-color: $kb-button-solid-primary-disabled-border-color;
    background-color: $kb-button-solid-primary-disabled-background-color;
    color: $kb-button-solid-primary-disabled-color;
  }

  #{dark-selector()} {
    box-shadow: $kb-button-solid-primary-box-shadow;
    border-color: $kb-button-solid-primary-dark-border-color;
    background-color: $kb-button-solid-primary-dark-background-color;
    color: $kb-button-solid-primary-dark-color;
  }

  #{dark-selector("&:hover")} {
    box-shadow: $kb-button-solid-primary-dark-hover-box-shadow;
    border-color: $kb-button-solid-primary-dark-hover-border-color;
    background-color: $kb-button-solid-primary-dark-hover-background-color;
    color: $kb-button-solid-primary-dark-hover-color;
  }

  #{dark-selector("&:active")} {
    box-shadow: $kb-button-solid-primary-dark-active-box-shadow;
    border-color: $kb-button-solid-primary-dark-active-border-color;
    background-color: $kb-button-solid-primary-dark-active-background-color;
    color: $kb-button-solid-primary-dark-active-color;
  }

  #{dark-selector("&:disabled")} {
    box-shadow: $kb-button-solid-primary-dark-disabled-box-shadow;
    border-color: $kb-button-solid-primary-dark-disabled-border-color;
    background-color: $kb-button-solid-primary-dark-disabled-background-color;
    color: $kb-button-solid-primary-dark-disabled-color;
  }
}

// secondary
.kb-button--solid.kb-button--secondary {
  box-shadow: $kb-button-solid-secondary-box-shadow;
  border-color: $kb-button-solid-secondary-border-color;
  background-color: $kb-button-solid-secondary-background-color;
  color: $kb-button-solid-secondary-color;

  &:hover {
    box-shadow: $kb-button-solid-secondary-hover-box-shadow;
    border-color: $kb-button-solid-secondary-hover-border-color;
    background-color: $kb-button-solid-secondary-hover-background-color;
    color: $kb-button-solid-secondary-hover-color;
  }

  &:active {
    box-shadow: $kb-button-solid-secondary-active-box-shadow;
    border-color: $kb-button-solid-secondary-active-border-color;
    background-color: $kb-button-solid-secondary-active-background-color;
    color: $kb-button-solid-secondary-active-color;
  }

  &:disabled {
    box-shadow: $kb-button-solid-secondary-disabled-box-shadow;
    border-color: $kb-button-solid-secondary-disabled-border-color;
    background-color: $kb-button-solid-secondary-disabled-background-color;
    color: $kb-button-solid-secondary-disabled-color;
  }

  #{dark-selector()} {
    box-shadow: $kb-button-solid-secondary-box-shadow;
    border-color: $kb-button-solid-secondary-dark-border-color;
    background-color: $kb-button-solid-secondary-dark-background-color;
    color: $kb-button-solid-secondary-dark-color;
  }

  #{dark-selector("&:hover")} {
    box-shadow: $kb-button-solid-secondary-dark-hover-box-shadow;
    border-color: $kb-button-solid-secondary-dark-hover-border-color;
    background-color: $kb-button-solid-secondary-dark-hover-background-color;
    color: $kb-button-solid-secondary-dark-hover-color;
  }

  #{dark-selector("&:active")} {
    box-shadow: $kb-button-solid-secondary-dark-active-box-shadow;
    border-color: $kb-button-solid-secondary-dark-active-border-color;
    background-color: $kb-button-solid-secondary-dark-active-background-color;
    color: $kb-button-solid-secondary-dark-active-color;
  }

  #{dark-selector("&:disabled")} {
    box-shadow: $kb-button-solid-secondary-dark-disabled-box-shadow;
    border-color: $kb-button-solid-secondary-dark-disabled-border-color;
    background-color: $kb-button-solid-secondary-dark-disabled-background-color;
    color: $kb-button-solid-secondary-dark-disabled-color;
  }
}

// danger
.kb-button--solid.kb-button--danger {
  box-shadow: $kb-button-solid-danger-box-shadow;
  border-color: $kb-button-solid-danger-border-color;
  background-color: $kb-button-solid-danger-background-color;
  color: $kb-button-solid-danger-color;

  &:hover {
    box-shadow: $kb-button-solid-danger-hover-box-shadow;
    border-color: $kb-button-solid-danger-hover-border-color;
    background-color: $kb-button-solid-danger-hover-background-color;
    color: $kb-button-solid-danger-hover-color;
  }

  &:active {
    box-shadow: $kb-button-solid-danger-active-box-shadow;
    border-color: $kb-button-solid-danger-active-border-color;
    background-color: $kb-button-solid-danger-active-background-color;
    color: $kb-button-solid-danger-active-color;
  }

  &:disabled {
    box-shadow: $kb-button-solid-danger-disabled-box-shadow;
    border-color: $kb-button-solid-danger-disabled-border-color;
    background-color: $kb-button-solid-danger-disabled-background-color;
    color: $kb-button-solid-danger-disabled-color;
  }

  #{dark-selector()} {
    box-shadow: $kb-button-solid-danger-box-shadow;
    border-color: $kb-button-solid-danger-dark-border-color;
    background-color: $kb-button-solid-danger-dark-background-color;
    color: $kb-button-solid-danger-dark-color;
  }

  #{dark-selector("&:hover")} {
    box-shadow: $kb-button-solid-danger-dark-hover-box-shadow;
    border-color: $kb-button-solid-danger-dark-hover-border-color;
    background-color: $kb-button-solid-danger-dark-hover-background-color;
    color: $kb-button-solid-danger-dark-hover-color;
  }

  #{dark-selector("&:active")} {
    box-shadow: $kb-button-solid-danger-dark-active-box-shadow;
    border-color: $kb-button-solid-danger-dark-active-border-color;
    background-color: $kb-button-solid-danger-dark-active-background-color;
    color: $kb-button-solid-danger-dark-active-color;
  }

  #{dark-selector("&:disabled")} {
    box-shadow: $kb-button-solid-danger-dark-disabled-box-shadow;
    border-color: $kb-button-solid-danger-dark-disabled-border-color;
    background-color: $kb-button-solid-danger-dark-disabled-background-color;
    color: $kb-button-solid-danger-dark-disabled-color;
  }
}

// -------------------------------------------------------------------------------------------------
// variant - soft
// -------------------------------------------------------------------------------------------------

// primary
.kb-button--soft.kb-button--primary {
  box-shadow: $kb-button-soft-primary-box-shadow;
  border-color: $kb-button-soft-primary-border-color;
  background-color: $kb-button-soft-primary-background-color;
  color: $kb-button-soft-primary-color;

  &:hover {
    box-shadow: $kb-button-soft-primary-hover-box-shadow;
    border-color: $kb-button-soft-primary-hover-border-color;
    background-color: $kb-button-soft-primary-hover-background-color;
    color: $kb-button-soft-primary-hover-color;
  }

  &:active {
    box-shadow: $kb-button-soft-primary-active-box-shadow;
    border-color: $kb-button-soft-primary-active-border-color;
    background-color: $kb-button-soft-primary-active-background-color;
    color: $kb-button-soft-primary-active-color;
  }

  &:disabled {
    box-shadow: $kb-button-soft-primary-disabled-box-shadow;
    border-color: $kb-button-soft-primary-disabled-border-color;
    background-color: $kb-button-soft-primary-disabled-background-color;
    color: $kb-button-soft-primary-disabled-color;
  }

  #{dark-selector()} {
    box-shadow: $kb-button-soft-primary-box-shadow;
    border-color: $kb-button-soft-primary-dark-border-color;
    background-color: $kb-button-soft-primary-dark-background-color;
    color: $kb-button-soft-primary-dark-color;
  }

  #{dark-selector("&:hover")} {
    box-shadow: $kb-button-soft-primary-dark-hover-box-shadow;
    border-color: $kb-button-soft-primary-dark-hover-border-color;
    background-color: $kb-button-soft-primary-dark-hover-background-color;
    color: $kb-button-soft-primary-dark-hover-color;
  }

  #{dark-selector("&:active")} {
    box-shadow: $kb-button-soft-primary-dark-active-box-shadow;
    border-color: $kb-button-soft-primary-dark-active-border-color;
    background-color: $kb-button-soft-primary-dark-active-background-color;
    color: $kb-button-soft-primary-dark-active-color;
  }

  #{dark-selector("&:disabled")} {
    box-shadow: $kb-button-soft-primary-dark-disabled-box-shadow;
    border-color: $kb-button-soft-primary-dark-disabled-border-color;
    background-color: $kb-button-soft-primary-dark-disabled-background-color;
    color: $kb-button-soft-primary-dark-disabled-color;
  }
}

// secondary
.kb-button--soft.kb-button--secondary {
  box-shadow: $kb-button-soft-secondary-box-shadow;
  border-color: $kb-button-soft-secondary-border-color;
  background-color: $kb-button-soft-secondary-background-color;
  color: $kb-button-soft-secondary-color;

  &:hover {
    box-shadow: $kb-button-soft-secondary-hover-box-shadow;
    border-color: $kb-button-soft-secondary-hover-border-color;
    background-color: $kb-button-soft-secondary-hover-background-color;
    color: $kb-button-soft-secondary-hover-color;
  }

  &:active {
    box-shadow: $kb-button-soft-secondary-active-box-shadow;
    border-color: $kb-button-soft-secondary-active-border-color;
    background-color: $kb-button-soft-secondary-active-background-color;
    color: $kb-button-soft-secondary-active-color;
  }

  &:disabled {
    box-shadow: $kb-button-soft-secondary-disabled-box-shadow;
    border-color: $kb-button-soft-secondary-disabled-border-color;
    background-color: $kb-button-soft-secondary-disabled-background-color;
    color: $kb-button-soft-secondary-disabled-color;
  }

  #{dark-selector()} {
    box-shadow: $kb-button-soft-secondary-box-shadow;
    border-color: $kb-button-soft-secondary-dark-border-color;
    background-color: $kb-button-soft-secondary-dark-background-color;
    color: $kb-button-soft-secondary-dark-color;
  }

  #{dark-selector("&:hover")} {
    box-shadow: $kb-button-soft-secondary-dark-hover-box-shadow;
    border-color: $kb-button-soft-secondary-dark-hover-border-color;
    background-color: $kb-button-soft-secondary-dark-hover-background-color;
    color: $kb-button-soft-secondary-dark-hover-color;
  }

  #{dark-selector("&:active")} {
    box-shadow: $kb-button-soft-secondary-dark-active-box-shadow;
    border-color: $kb-button-soft-secondary-dark-active-border-color;
    background-color: $kb-button-soft-secondary-dark-active-background-color;
    color: $kb-button-soft-secondary-dark-active-color;
  }

  #{dark-selector("&:disabled")} {
    box-shadow: $kb-button-soft-secondary-dark-disabled-box-shadow;
    border-color: $kb-button-soft-secondary-dark-disabled-border-color;
    background-color: $kb-button-soft-secondary-dark-disabled-background-color;
    color: $kb-button-soft-secondary-dark-disabled-color;
  }
}

// danger
.kb-button--soft.kb-button--danger {
  box-shadow: $kb-button-soft-danger-box-shadow;
  border-color: $kb-button-soft-danger-border-color;
  background-color: $kb-button-soft-danger-background-color;
  color: $kb-button-soft-danger-color;

  &:hover {
    box-shadow: $kb-button-soft-danger-hover-box-shadow;
    border-color: $kb-button-soft-danger-hover-border-color;
    background-color: $kb-button-soft-danger-hover-background-color;
    color: $kb-button-soft-danger-hover-color;
  }

  &:active {
    box-shadow: $kb-button-soft-danger-active-box-shadow;
    border-color: $kb-button-soft-danger-active-border-color;
    background-color: $kb-button-soft-danger-active-background-color;
    color: $kb-button-soft-danger-active-color;
  }

  &:disabled {
    box-shadow: $kb-button-soft-danger-disabled-box-shadow;
    border-color: $kb-button-soft-danger-disabled-border-color;
    background-color: $kb-button-soft-danger-disabled-background-color;
    color: $kb-button-soft-danger-disabled-color;
  }

  #{dark-selector()} {
    box-shadow: $kb-button-soft-danger-box-shadow;
    border-color: $kb-button-soft-danger-dark-border-color;
    background-color: $kb-button-soft-danger-dark-background-color;
    color: $kb-button-soft-danger-dark-color;
  }

  #{dark-selector("&:hover")} {
    box-shadow: $kb-button-soft-danger-dark-hover-box-shadow;
    border-color: $kb-button-soft-danger-dark-hover-border-color;
    background-color: $kb-button-soft-danger-dark-hover-background-color;
    color: $kb-button-soft-danger-dark-hover-color;
  }

  #{dark-selector("&:active")} {
    box-shadow: $kb-button-soft-danger-dark-active-box-shadow;
    border-color: $kb-button-soft-danger-dark-active-border-color;
    background-color: $kb-button-soft-danger-dark-active-background-color;
    color: $kb-button-soft-danger-dark-active-color;
  }

  #{dark-selector("&:disabled")} {
    box-shadow: $kb-button-soft-danger-dark-disabled-box-shadow;
    border-color: $kb-button-soft-danger-dark-disabled-border-color;
    background-color: $kb-button-soft-danger-dark-disabled-background-color;
    color: $kb-button-soft-danger-dark-disabled-color;
  }
}

// -------------------------------------------------------------------------------------------------
// variant - outlined
// -------------------------------------------------------------------------------------------------

// primary
.kb-button--outlined.kb-button--primary {
  box-shadow: $kb-button-outlined-primary-box-shadow;
  border-color: $kb-button-outlined-primary-border-color;
  background-color: $kb-button-outlined-primary-background-color;
  color: $kb-button-outlined-primary-color;

  &:hover {
    box-shadow: $kb-button-outlined-primary-hover-box-shadow;
    border-color: $kb-button-outlined-primary-hover-border-color;
    background-color: $kb-button-outlined-primary-hover-background-color;
    color: $kb-button-outlined-primary-hover-color;
  }

  &:active {
    box-shadow: $kb-button-outlined-primary-active-box-shadow;
    border-color: $kb-button-outlined-primary-active-border-color;
    background-color: $kb-button-outlined-primary-active-background-color;
    color: $kb-button-outlined-primary-active-color;
  }

  &:disabled {
    box-shadow: $kb-button-outlined-primary-disabled-box-shadow;
    border-color: $kb-button-outlined-primary-disabled-border-color;
    background-color: $kb-button-outlined-primary-disabled-background-color;
    color: $kb-button-outlined-primary-disabled-color;
  }

  #{dark-selector()} {
    box-shadow: $kb-button-outlined-primary-box-shadow;
    border-color: $kb-button-outlined-primary-dark-border-color;
    background-color: $kb-button-outlined-primary-dark-background-color;
    color: $kb-button-outlined-primary-dark-color;
  }

  #{dark-selector("&:hover")} {
    box-shadow: $kb-button-outlined-primary-dark-hover-box-shadow;
    border-color: $kb-button-outlined-primary-dark-hover-border-color;
    background-color: $kb-button-outlined-primary-dark-hover-background-color;
    color: $kb-button-outlined-primary-dark-hover-color;
  }

  #{dark-selector("&:active")} {
    box-shadow: $kb-button-outlined-primary-dark-active-box-shadow;
    border-color: $kb-button-outlined-primary-dark-active-border-color;
    background-color: $kb-button-outlined-primary-dark-active-background-color;
    color: $kb-button-outlined-primary-dark-active-color;
  }

  #{dark-selector("&:disabled")} {
    box-shadow: $kb-button-outlined-primary-dark-disabled-box-shadow;
    border-color: $kb-button-outlined-primary-dark-disabled-border-color;
    background-color: $kb-button-outlined-primary-dark-disabled-background-color;
    color: $kb-button-outlined-primary-dark-disabled-color;
  }
}

// secondary
.kb-button--outlined.kb-button--secondary {
  box-shadow: $kb-button-outlined-secondary-box-shadow;
  border-color: $kb-button-outlined-secondary-border-color;
  background-color: $kb-button-outlined-secondary-background-color;
  color: $kb-button-outlined-secondary-color;

  &:hover {
    box-shadow: $kb-button-outlined-secondary-hover-box-shadow;
    border-color: $kb-button-outlined-secondary-hover-border-color;
    background-color: $kb-button-outlined-secondary-hover-background-color;
    color: $kb-button-outlined-secondary-hover-color;
  }

  &:active {
    box-shadow: $kb-button-outlined-secondary-active-box-shadow;
    border-color: $kb-button-outlined-secondary-active-border-color;
    background-color: $kb-button-outlined-secondary-active-background-color;
    color: $kb-button-outlined-secondary-active-color;
  }

  &:disabled {
    box-shadow: $kb-button-outlined-secondary-disabled-box-shadow;
    border-color: $kb-button-outlined-secondary-disabled-border-color;
    background-color: $kb-button-outlined-secondary-disabled-background-color;
    color: $kb-button-outlined-secondary-disabled-color;
  }

  #{dark-selector()} {
    box-shadow: $kb-button-outlined-secondary-box-shadow;
    border-color: $kb-button-outlined-secondary-dark-border-color;
    background-color: $kb-button-outlined-secondary-dark-background-color;
    color: $kb-button-outlined-secondary-dark-color;
  }

  #{dark-selector("&:hover")} {
    box-shadow: $kb-button-outlined-secondary-dark-hover-box-shadow;
    border-color: $kb-button-outlined-secondary-dark-hover-border-color;
    background-color: $kb-button-outlined-secondary-dark-hover-background-color;
    color: $kb-button-outlined-secondary-dark-hover-color;
  }

  #{dark-selector("&:active")} {
    box-shadow: $kb-button-outlined-secondary-dark-active-box-shadow;
    border-color: $kb-button-outlined-secondary-dark-active-border-color;
    background-color: $kb-button-outlined-secondary-dark-active-background-color;
    color: $kb-button-outlined-secondary-dark-active-color;
  }

  #{dark-selector("&:disabled")} {
    box-shadow: $kb-button-outlined-secondary-dark-disabled-box-shadow;
    border-color: $kb-button-outlined-secondary-dark-disabled-border-color;
    background-color: $kb-button-outlined-secondary-dark-disabled-background-color;
    color: $kb-button-outlined-secondary-dark-disabled-color;
  }
}

// danger
.kb-button--outlined.kb-button--danger {
  box-shadow: $kb-button-outlined-danger-box-shadow;
  border-color: $kb-button-outlined-danger-border-color;
  background-color: $kb-button-outlined-danger-background-color;
  color: $kb-button-outlined-danger-color;

  &:hover {
    box-shadow: $kb-button-outlined-danger-hover-box-shadow;
    border-color: $kb-button-outlined-danger-hover-border-color;
    background-color: $kb-button-outlined-danger-hover-background-color;
    color: $kb-button-outlined-danger-hover-color;
  }

  &:active {
    box-shadow: $kb-button-outlined-danger-active-box-shadow;
    border-color: $kb-button-outlined-danger-active-border-color;
    background-color: $kb-button-outlined-danger-active-background-color;
    color: $kb-button-outlined-danger-active-color;
  }

  &:disabled {
    box-shadow: $kb-button-outlined-danger-disabled-box-shadow;
    border-color: $kb-button-outlined-danger-disabled-border-color;
    background-color: $kb-button-outlined-danger-disabled-background-color;
    color: $kb-button-outlined-danger-disabled-color;
  }

  #{dark-selector()} {
    box-shadow: $kb-button-outlined-danger-box-shadow;
    border-color: $kb-button-outlined-danger-dark-border-color;
    background-color: $kb-button-outlined-danger-dark-background-color;
    color: $kb-button-outlined-danger-dark-color;
  }

  #{dark-selector("&:hover")} {
    box-shadow: $kb-button-outlined-danger-dark-hover-box-shadow;
    border-color: $kb-button-outlined-danger-dark-hover-border-color;
    background-color: $kb-button-outlined-danger-dark-hover-background-color;
    color: $kb-button-outlined-danger-dark-hover-color;
  }

  #{dark-selector("&:active")} {
    box-shadow: $kb-button-outlined-danger-dark-active-box-shadow;
    border-color: $kb-button-outlined-danger-dark-active-border-color;
    background-color: $kb-button-outlined-danger-dark-active-background-color;
    color: $kb-button-outlined-danger-dark-active-color;
  }

  #{dark-selector("&:disabled")} {
    box-shadow: $kb-button-outlined-danger-dark-disabled-box-shadow;
    border-color: $kb-button-outlined-danger-dark-disabled-border-color;
    background-color: $kb-button-outlined-danger-dark-disabled-background-color;
    color: $kb-button-outlined-danger-dark-disabled-color;
  }
}

// -------------------------------------------------------------------------------------------------
// variant - plain
// -------------------------------------------------------------------------------------------------

// primary
.kb-button--plain.kb-button--primary {
  box-shadow: $kb-button-plain-primary-box-shadow;
  border-color: $kb-button-plain-primary-border-color;
  background-color: $kb-button-plain-primary-background-color;
  color: $kb-button-plain-primary-color;

  &:hover {
    box-shadow: $kb-button-plain-primary-hover-box-shadow;
    border-color: $kb-button-plain-primary-hover-border-color;
    background-color: $kb-button-plain-primary-hover-background-color;
    color: $kb-button-plain-primary-hover-color;
  }

  &:active {
    box-shadow: $kb-button-plain-primary-active-box-shadow;
    border-color: $kb-button-plain-primary-active-border-color;
    background-color: $kb-button-plain-primary-active-background-color;
    color: $kb-button-plain-primary-active-color;
  }

  &:disabled {
    box-shadow: $kb-button-plain-primary-disabled-box-shadow;
    border-color: $kb-button-plain-primary-disabled-border-color;
    background-color: $kb-button-plain-primary-disabled-background-color;
    color: $kb-button-plain-primary-disabled-color;
  }

  #{dark-selector()} {
    box-shadow: $kb-button-plain-primary-box-shadow;
    border-color: $kb-button-plain-primary-dark-border-color;
    background-color: $kb-button-plain-primary-dark-background-color;
    color: $kb-button-plain-primary-dark-color;
  }

  #{dark-selector("&:hover")} {
    box-shadow: $kb-button-plain-primary-dark-hover-box-shadow;
    border-color: $kb-button-plain-primary-dark-hover-border-color;
    background-color: $kb-button-plain-primary-dark-hover-background-color;
    color: $kb-button-plain-primary-dark-hover-color;
  }

  #{dark-selector("&:active")} {
    box-shadow: $kb-button-plain-primary-dark-active-box-shadow;
    border-color: $kb-button-plain-primary-dark-active-border-color;
    background-color: $kb-button-plain-primary-dark-active-background-color;
    color: $kb-button-plain-primary-dark-active-color;
  }

  #{dark-selector("&:disabled")} {
    box-shadow: $kb-button-plain-primary-dark-disabled-box-shadow;
    border-color: $kb-button-plain-primary-dark-disabled-border-color;
    background-color: $kb-button-plain-primary-dark-disabled-background-color;
    color: $kb-button-plain-primary-dark-disabled-color;
  }
}

// secondary
.kb-button--plain.kb-button--secondary {
  box-shadow: $kb-button-plain-secondary-box-shadow;
  border-color: $kb-button-plain-secondary-border-color;
  background-color: $kb-button-plain-secondary-background-color;
  color: $kb-button-plain-secondary-color;

  &:hover {
    box-shadow: $kb-button-plain-secondary-hover-box-shadow;
    border-color: $kb-button-plain-secondary-hover-border-color;
    background-color: $kb-button-plain-secondary-hover-background-color;
    color: $kb-button-plain-secondary-hover-color;
  }

  &:active {
    box-shadow: $kb-button-plain-secondary-active-box-shadow;
    border-color: $kb-button-plain-secondary-active-border-color;
    background-color: $kb-button-plain-secondary-active-background-color;
    color: $kb-button-plain-secondary-active-color;
  }

  &:disabled {
    box-shadow: $kb-button-plain-secondary-disabled-box-shadow;
    border-color: $kb-button-plain-secondary-disabled-border-color;
    background-color: $kb-button-plain-secondary-disabled-background-color;
    color: $kb-button-plain-secondary-disabled-color;
  }

  #{dark-selector()} {
    box-shadow: $kb-button-plain-secondary-box-shadow;
    border-color: $kb-button-plain-secondary-dark-border-color;
    background-color: $kb-button-plain-secondary-dark-background-color;
    color: $kb-button-plain-secondary-dark-color;
  }

  #{dark-selector("&:hover")} {
    box-shadow: $kb-button-plain-secondary-dark-hover-box-shadow;
    border-color: $kb-button-plain-secondary-dark-hover-border-color;
    background-color: $kb-button-plain-secondary-dark-hover-background-color;
    color: $kb-button-plain-secondary-dark-hover-color;
  }

  #{dark-selector("&:active")} {
    box-shadow: $kb-button-plain-secondary-dark-active-box-shadow;
    border-color: $kb-button-plain-secondary-dark-active-border-color;
    background-color: $kb-button-plain-secondary-dark-active-background-color;
    color: $kb-button-plain-secondary-dark-active-color;
  }

  #{dark-selector("&:disabled")} {
    box-shadow: $kb-button-plain-secondary-dark-disabled-box-shadow;
    border-color: $kb-button-plain-secondary-dark-disabled-border-color;
    background-color: $kb-button-plain-secondary-dark-disabled-background-color;
    color: $kb-button-plain-secondary-dark-disabled-color;
  }
}

// danger
.kb-button--plain.kb-button--danger {
  box-shadow: $kb-button-plain-danger-box-shadow;
  border-color: $kb-button-plain-danger-border-color;
  background-color: $kb-button-plain-danger-background-color;
  color: $kb-button-plain-danger-color;

  &:hover {
    box-shadow: $kb-button-plain-danger-hover-box-shadow;
    border-color: $kb-button-plain-danger-hover-border-color;
    background-color: $kb-button-plain-danger-hover-background-color;
    color: $kb-button-plain-danger-hover-color;
  }

  &:active {
    box-shadow: $kb-button-plain-danger-active-box-shadow;
    border-color: $kb-button-plain-danger-active-border-color;
    background-color: $kb-button-plain-danger-active-background-color;
    color: $kb-button-plain-danger-active-color;
  }

  &:disabled {
    box-shadow: $kb-button-plain-danger-disabled-box-shadow;
    border-color: $kb-button-plain-danger-disabled-border-color;
    background-color: $kb-button-plain-danger-disabled-background-color;
    color: $kb-button-plain-danger-disabled-color;
  }

  #{dark-selector()} {
    box-shadow: $kb-button-plain-danger-box-shadow;
    border-color: $kb-button-plain-danger-dark-border-color;
    background-color: $kb-button-plain-danger-dark-background-color;
    color: $kb-button-plain-danger-dark-color;
  }

  #{dark-selector("&:hover")} {
    box-shadow: $kb-button-plain-danger-dark-hover-box-shadow;
    border-color: $kb-button-plain-danger-dark-hover-border-color;
    background-color: $kb-button-plain-danger-dark-hover-background-color;
    color: $kb-button-plain-danger-dark-hover-color;
  }

  #{dark-selector("&:active")} {
    box-shadow: $kb-button-plain-danger-dark-active-box-shadow;
    border-color: $kb-button-plain-danger-dark-active-border-color;
    background-color: $kb-button-plain-danger-dark-active-background-color;
    color: $kb-button-plain-danger-dark-active-color;
  }

  #{dark-selector("&:disabled")} {
    box-shadow: $kb-button-plain-danger-dark-disabled-box-shadow;
    border-color: $kb-button-plain-danger-dark-disabled-border-color;
    background-color: $kb-button-plain-danger-dark-disabled-background-color;
    color: $kb-button-plain-danger-dark-disabled-color;
  }
}

// -------------------------------------------------------------------------------------------------
// size
// -------------------------------------------------------------------------------------------------

.kb-button--xs {
  border-radius: $kb-button-xs-border-radius;
  height: $kb-button-xs-height;
  padding: $kb-button-xs-padding;
  font-size: $kb-button-xs-font-size;

  &.kb-button--icon-only {
    width: $kb-button-xs-height;
    padding: 0;
  }
}

.kb-button--sm {
  border-radius: $kb-button-sm-border-radius;
  height: $kb-button-sm-height;
  padding: $kb-button-sm-padding;
  font-size: $kb-button-sm-font-size;

  &.kb-button--icon-only {
    width: $kb-button-sm-height;
    padding: 0;
  }
}

.kb-button--md {
  border-radius: $kb-button-md-border-radius;
  height: $kb-button-md-height;
  padding: $kb-button-md-padding;
  font-size: $kb-button-md-font-size;

  &.kb-button--icon-only {
    width: $kb-button-md-height;
    padding: 0;
  }
}

.kb-button--lg {
  border-radius: $kb-button-lg-border-radius;
  height: $kb-button-lg-height;
  padding: $kb-button-lg-padding;
  font-size: $kb-button-lg-font-size;

  &.kb-button--icon-only {
    width: $kb-button-lg-height;
    padding: 0;
  }
}

// -------------------------------------------------------------------------------------------------
// icon
// -------------------------------------------------------------------------------------------------

.kb-button__icon {
  display: inline-flex;
  align-self: center;
  flex-shrink: 0;
  font-size: $kb-button-icon-font-size;
}

// -------------------------------------------------------------------------------------------------
// loader
// -------------------------------------------------------------------------------------------------

.kb-button__loader-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: 1em;
  line-height: normal;

  &.kb-button__loader-wrapper--has-loading-text {
    position: relative;
  }
}

.kb-button__loader-icon {
  font-size: $kb-button-loader-icon-font-size;
  animation: $kb-button-loader-icon-animation;
}
