@use "./utils/functions" as *;

.kb-divider {
  color: rgb(var(--kb-color-neutral-300));

  #{dark-selector()} {
    color: rgb(var(--kb-color-neutral-700));
  }
}

.kb-divider--with-label {
  display: flex;
  align-items: center;
  gap: 12px;

  &::before {
    content: "";
    flex: 1;
    height: 1px;
    border: 0;
  }

  &::after {
    content: "";
    flex: 1;
    border: 0;
  }

  &.kb-divider--label-start {
    &::before {
      flex: 0 0 24px;
    }
  }

  &.kb-divider--label-end {
    &::after {
      flex: 0 0 24px;
    }
  }
}

.kb-divider--horizontal {
  width: 100%;
  margin: 0;
  border: 0;
  border-top: 1px solid currentColor;

  &.kb-divider--with-label {
    border-top: 0;

    &::before,
    &::after {
      border-top: 1px solid currentColor;
    }
  }
}

.kb-divider--vertical {
  align-self: stretch;
  height: inherit;
  border: 0;
  border-left: 1px solid currentColor;

  &.kb-divider--with-label {
    flex-direction: column;
    border-left: 0;

    &::before,
    &::after {
      border-left: 1px solid currentColor;
    }
  }
}

/* -------------------------------------------------------------------------------------------------
 * label
 * -----------------------------------------------------------------------------------------------*/

.kb-divider__label {
  color: rgb(var(--kb-color-text-2));
  font-size: 14px;
  font-weight: 500;
}
