/*
  // -------------------------------------------------------------------------------------------------
  // base
  // -------------------------------------------------------------------------------------------------
  $kb-button-font-weight: 400 !default,

  // -------------------------------------------------------------------------------------------------
  // variant - solid
  // -------------------------------------------------------------------------------------------------
  // primary
  $kb-button-solid-primary-box-shadow: none !default,
  $kb-button-solid-primary-border-color: rgb(var(--kb-color-primary-600)) !default,
  $kb-button-solid-primary-background-color: rgb(var(--kb-color-primary-600)) !default,
  $kb-button-solid-primary-color: rgb(var(--kb-color-white)) !default,

  $kb-button-solid-primary-hover-box-shadow: none !default,
  $kb-button-solid-primary-hover-border-color: rgb(var(--kb-color-primary-700)) !default,
  $kb-button-solid-primary-hover-background-color: rgb(var(--kb-color-primary-700)) !default,
  $kb-button-solid-primary-hover-color: rgb(var(--kb-color-white)) !default,

  $kb-button-solid-primary-active-box-shadow: none !default,
  $kb-button-solid-primary-active-border-color: rgb(var(--kb-color-primary-800)) !default,
  $kb-button-solid-primary-active-background-color: rgb(var(--kb-color-primary-800)) !default,
  $kb-button-solid-primary-active-color: rgb(var(--kb-color-white)) !default,

  $kb-button-solid-primary-disabled-box-shadow: none !default,
  $kb-button-solid-primary-disabled-border-color: rgb(var(--kb-color-neutral-300)) !default,
  $kb-button-solid-primary-disabled-background-color: rgb(var(--kb-color-neutral-300)) !default,
  $kb-button-solid-primary-disabled-color: rgb(var(--kb-color-neutral-400)) !default,

  $kb-button-solid-primary-dark-box-shadow: none !default,
  $kb-button-solid-primary-dark-border-color: rgb(var(--kb-color-primary-600)) !default,
  $kb-button-solid-primary-dark-background-color: rgb(var(--kb-color-primary-600)) !default,
  $kb-button-solid-primary-dark-color: rgb(var(--kb-color-white)) !default,

  $kb-button-solid-primary-dark-hover-box-shadow: none !default,
  $kb-button-solid-primary-dark-hover-border-color: rgb(var(--kb-color-primary-700)) !default,
  $kb-button-solid-primary-dark-hover-background-color: rgb(var(--kb-color-primary-700)) !default,
  $kb-button-solid-primary-dark-hover-color: rgb(var(--kb-color-white)) !default,

  $kb-button-solid-primary-dark-active-box-shadow: none !default,
  $kb-button-solid-primary-dark-active-border-color: rgb(var(--kb-color-primary-800)) !default,
  $kb-button-solid-primary-dark-active-background-color: rgb(var(--kb-color-primary-800)) !default,
  $kb-button-solid-primary-dark-active-color: rgb(var(--kb-color-white)) !default,

  $kb-button-solid-primary-dark-disabled-box-shadow: none !default,
  $kb-button-solid-primary-dark-disabled-border-color: transparent !default,
  $kb-button-solid-primary-dark-disabled-background-color: rgb(var(--kb-color-neutral-400) / 0.2) !default,
  $kb-button-solid-primary-dark-disabled-color: rgb(var(--kb-color-text-4)) !default,

  // secondary
  $kb-button-solid-secondary-box-shadow: none !default,
  $kb-button-solid-secondary-border-color: rgb(var(--kb-color-neutral-700)) !default,
  $kb-button-solid-secondary-background-color: rgb(var(--kb-color-neutral-700)) !default,
  $kb-button-solid-secondary-color: rgb(var(--kb-color-white)) !default,

  $kb-button-solid-secondary-hover-box-shadow: none !default,
  $kb-button-solid-secondary-hover-border-color: rgb(var(--kb-color-neutral-600)) !default,
  $kb-button-solid-secondary-hover-background-color: rgb(var(--kb-color-neutral-600)) !default,
  $kb-button-solid-secondary-hover-color: rgb(var(--kb-color-white)) !default,

  $kb-button-solid-secondary-active-box-shadow: none !default,
  $kb-button-solid-secondary-active-border-color: rgb(var(--kb-color-neutral-500)) !default,
  $kb-button-solid-secondary-active-background-color: rgb(var(--kb-color-neutral-500)) !default,
  $kb-button-solid-secondary-active-color: rgb(var(--kb-color-white)) !default,

  $kb-button-solid-secondary-disabled-box-shadow: none !default,
  $kb-button-solid-secondary-disabled-border-color: rgb(var(--kb-color-neutral-300)) !default,
  $kb-button-solid-secondary-disabled-background-color: rgb(var(--kb-color-neutral-300)) !default,
  $kb-button-solid-secondary-disabled-color: rgb(var(--kb-color-neutral-400)) !default,

  $kb-button-solid-secondary-dark-box-shadow: none !default,
  $kb-button-solid-secondary-dark-border-color: rgb(var(--kb-color-neutral-500)) !default,
  $kb-button-solid-secondary-dark-background-color: rgb(var(--kb-color-neutral-500)) !default,
  $kb-button-solid-secondary-dark-color: rgb(var(--kb-color-white)) !default,

  $kb-button-solid-secondary-dark-hover-box-shadow: none !default,
  $kb-button-solid-secondary-dark-hover-border-color: rgb(var(--kb-color-neutral-600)) !default,
  $kb-button-solid-secondary-dark-hover-background-color: rgb(var(--kb-color-neutral-600)) !default,
  $kb-button-solid-secondary-dark-hover-color: rgb(var(--kb-color-white)) !default,

  $kb-button-solid-secondary-dark-active-box-shadow: none !default,
  $kb-button-solid-secondary-dark-active-border-color: rgb(var(--kb-color-neutral-700)) !default,
  $kb-button-solid-secondary-dark-active-background-color: rgb(var(--kb-color-neutral-700)) !default,
  $kb-button-solid-secondary-dark-active-color: rgb(var(--kb-color-white)) !default,

  $kb-button-solid-secondary-dark-disabled-box-shadow: none !default,
  $kb-button-solid-secondary-dark-disabled-border-color: transparent !default,
  $kb-button-solid-secondary-dark-disabled-background-color: rgb(var(--kb-color-neutral-400) / 0.2) !default,
  $kb-button-solid-secondary-dark-disabled-color: rgb(var(--kb-color-text-4)) !default,

  // danger
  $kb-button-solid-danger-box-shadow: none !default,
  $kb-button-solid-danger-border-color: rgb(var(--kb-color-danger-600)) !default,
  $kb-button-solid-danger-background-color: rgb(var(--kb-color-danger-600)) !default,
  $kb-button-solid-danger-color: rgb(var(--kb-color-white)) !default,

  $kb-button-solid-danger-hover-box-shadow: none !default,
  $kb-button-solid-danger-hover-border-color: rgb(var(--kb-color-danger-700)) !default,
  $kb-button-solid-danger-hover-background-color: rgb(var(--kb-color-danger-700)) !default,
  $kb-button-solid-danger-hover-color: rgb(var(--kb-color-white)) !default,

  $kb-button-solid-danger-active-box-shadow: none !default,
  $kb-button-solid-danger-active-border-color: rgb(var(--kb-color-danger-800)) !default,
  $kb-button-solid-danger-active-background-color: rgb(var(--kb-color-danger-800)) !default,
  $kb-button-solid-danger-active-color: rgb(var(--kb-color-white)) !default,

  $kb-button-solid-danger-disabled-box-shadow: none !default,
  $kb-button-solid-danger-disabled-border-color: rgb(var(--kb-color-neutral-300)) !default,
  $kb-button-solid-danger-disabled-background-color: rgb(var(--kb-color-neutral-300)) !default,
  $kb-button-solid-danger-disabled-color: rgb(var(--kb-color-neutral-400)) !default,

  $kb-button-solid-danger-dark-box-shadow: none !default,
  $kb-button-solid-danger-dark-border-color: rgb(var(--kb-color-danger-600)) !default,
  $kb-button-solid-danger-dark-background-color: rgb(var(--kb-color-danger-600)) !default,
  $kb-button-solid-danger-dark-color: rgb(var(--kb-color-white)) !default,

  $kb-button-solid-danger-dark-hover-box-shadow: none !default,
  $kb-button-solid-danger-dark-hover-border-color: rgb(var(--kb-color-danger-700)) !default,
  $kb-button-solid-danger-dark-hover-background-color: rgb(var(--kb-color-danger-700)) !default,
  $kb-button-solid-danger-dark-hover-color: rgb(var(--kb-color-white)) !default,

  $kb-button-solid-danger-dark-active-box-shadow: none !default,
  $kb-button-solid-danger-dark-active-border-color: rgb(var(--kb-color-danger-800)) !default,
  $kb-button-solid-danger-dark-active-background-color: rgb(var(--kb-color-danger-800)) !default,
  $kb-button-solid-danger-dark-active-color: rgb(var(--kb-color-white)) !default,

  $kb-button-solid-danger-dark-disabled-box-shadow: none !default,
  $kb-button-solid-danger-dark-disabled-border-color: transparent !default,
  $kb-button-solid-danger-dark-disabled-background-color: rgb(var(--kb-color-neutral-400) / 0.2) !default,
  $kb-button-solid-danger-dark-disabled-color: rgb(var(--kb-color-text-4)) !default,

  // -------------------------------------------------------------------------------------------------
  // variant - soft
  // -------------------------------------------------------------------------------------------------
  // primary
  $kb-button-soft-primary-box-shadow: none !default,
  $kb-button-soft-primary-border-color: rgb(var(--kb-color-primary-100)) !default,
  $kb-button-soft-primary-background-color: rgb(var(--kb-color-primary-100)) !default,
  $kb-button-soft-primary-color: rgb(var(--kb-color-primary-700)) !default,

  $kb-button-soft-primary-hover-box-shadow: none !default,
  $kb-button-soft-primary-hover-border-color: rgb(var(--kb-color-primary-600)) !default,
  $kb-button-soft-primary-hover-background-color: rgb(var(--kb-color-primary-600)) !default,
  $kb-button-soft-primary-hover-color: rgb(var(--kb-color-white)) !default,

  $kb-button-soft-primary-active-box-shadow: none !default,
  $kb-button-soft-primary-active-border-color: rgb(var(--kb-color-primary-800)) !default,
  $kb-button-soft-primary-active-background-color: rgb(var(--kb-color-primary-800)) !default,
  $kb-button-soft-primary-active-color: rgb(var(--kb-color-white)) !default,

  $kb-button-soft-primary-disabled-box-shadow: none !default,
  $kb-button-soft-primary-disabled-border-color: rgb(var(--kb-color-neutral-300)) !default,
  $kb-button-soft-primary-disabled-background-color: rgb(var(--kb-color-neutral-300)) !default,
  $kb-button-soft-primary-disabled-color: rgb(var(--kb-color-neutral-400)) !default,

  $kb-button-soft-primary-dark-box-shadow: none !default,
  $kb-button-soft-primary-dark-border-color: transparent !default,
  $kb-button-soft-primary-dark-background-color: rgb(var(--kb-color-primary-500) / 0.2) !default,
  $kb-button-soft-primary-dark-color: rgb(var(--kb-color-primary-400)) !default,

  $kb-button-soft-primary-dark-hover-box-shadow: none !default,
  $kb-button-soft-primary-dark-hover-border-color: rgb(var(--kb-color-primary-600)) !default,
  $kb-button-soft-primary-dark-hover-background-color: rgb(var(--kb-color-primary-600)) !default,
  $kb-button-soft-primary-dark-hover-color: rgb(var(--kb-color-white)) !default,

  $kb-button-soft-primary-dark-active-box-shadow: none !default,
  $kb-button-soft-primary-dark-active-border-color: rgb(var(--kb-color-primary-800)) !default,
  $kb-button-soft-primary-dark-active-background-color: rgb(var(--kb-color-primary-800)) !default,
  $kb-button-soft-primary-dark-active-color: rgb(var(--kb-color-white)) !default,

  $kb-button-soft-primary-dark-disabled-box-shadow: none !default,
  $kb-button-soft-primary-dark-disabled-border-color: transparent !default,
  $kb-button-soft-primary-dark-disabled-background-color: rgb(var(--kb-color-neutral-400) / 0.2) !default,
  $kb-button-soft-primary-dark-disabled-color: rgb(var(--kb-color-text-4)) !default,

  // secondary
  $kb-button-soft-secondary-box-shadow: none !default,
  $kb-button-soft-secondary-border-color: rgb(var(--kb-color-neutral-100)) !default,
  $kb-button-soft-secondary-background-color: rgb(var(--kb-color-neutral-100)) !default,
  $kb-button-soft-secondary-color: rgb(var(--kb-color-neutral-800)) !default,

  $kb-button-soft-secondary-hover-box-shadow: none !default,
  $kb-button-soft-secondary-hover-border-color: rgb(var(--kb-color-neutral-700)) !default,
  $kb-button-soft-secondary-hover-background-color: rgb(var(--kb-color-neutral-700)) !default,
  $kb-button-soft-secondary-hover-color: rgb(var(--kb-color-white)) !default,

  $kb-button-soft-secondary-active-box-shadow: none !default,
  $kb-button-soft-secondary-active-border-color: rgb(var(--kb-color-neutral-500)) !default,
  $kb-button-soft-secondary-active-background-color: rgb(var(--kb-color-neutral-500)) !default,
  $kb-button-soft-secondary-active-color: rgb(var(--kb-color-white)) !default,

  $kb-button-soft-secondary-disabled-box-shadow: none !default,
  $kb-button-soft-secondary-disabled-border-color: rgb(var(--kb-color-neutral-300)) !default,
  $kb-button-soft-secondary-disabled-background-color: rgb(var(--kb-color-neutral-300)) !default,
  $kb-button-soft-secondary-disabled-color: rgb(var(--kb-color-neutral-400)) !default,

  $kb-button-soft-secondary-dark-box-shadow: none !default,
  $kb-button-soft-secondary-dark-border-color: transparent !default,
  $kb-button-soft-secondary-dark-background-color: rgb(var(--kb-color-neutral-500) / 0.2) !default,
  $kb-button-soft-secondary-dark-color: rgb(var(--kb-color-text-2)) !default,

  $kb-button-soft-secondary-dark-hover-box-shadow: none !default,
  $kb-button-soft-secondary-dark-hover-border-color: rgb(var(--kb-color-neutral-500)) !default,
  $kb-button-soft-secondary-dark-hover-background-color: rgb(var(--kb-color-neutral-500)) !default,
  $kb-button-soft-secondary-dark-hover-color: rgb(var(--kb-color-white)) !default,

  $kb-button-soft-secondary-dark-active-box-shadow: none !default,
  $kb-button-soft-secondary-dark-active-border-color: rgb(var(--kb-color-neutral-700)) !default,
  $kb-button-soft-secondary-dark-active-background-color: rgb(var(--kb-color-neutral-700)) !default,
  $kb-button-soft-secondary-dark-active-color: rgb(var(--kb-color-white)) !default,

  $kb-button-soft-secondary-dark-disabled-box-shadow: none !default,
  $kb-button-soft-secondary-dark-disabled-border-color: transparent !default,
  $kb-button-soft-secondary-dark-disabled-background-color: rgb(var(--kb-color-neutral-400) / 0.2) !default,
  $kb-button-soft-secondary-dark-disabled-color: rgb(var(--kb-color-text-4)) !default,

  // danger
  $kb-button-soft-danger-box-shadow: none !default,
  $kb-button-soft-danger-border-color: rgb(var(--kb-color-danger-100)) !default,
  $kb-button-soft-danger-background-color: rgb(var(--kb-color-danger-100)) !default,
  $kb-button-soft-danger-color: rgb(var(--kb-color-danger-700)) !default,

  $kb-button-soft-danger-hover-box-shadow: none !default,
  $kb-button-soft-danger-hover-border-color: rgb(var(--kb-color-danger-600)) !default,
  $kb-button-soft-danger-hover-background-color: rgb(var(--kb-color-danger-600)) !default,
  $kb-button-soft-danger-hover-color: rgb(var(--kb-color-white)) !default,

  $kb-button-soft-danger-active-box-shadow: none !default,
  $kb-button-soft-danger-active-border-color: rgb(var(--kb-color-danger-800)) !default,
  $kb-button-soft-danger-active-background-color: rgb(var(--kb-color-danger-800)) !default,
  $kb-button-soft-danger-active-color: rgb(var(--kb-color-white)) !default,

  $kb-button-soft-danger-disabled-box-shadow: none !default,
  $kb-button-soft-danger-disabled-border-color: rgb(var(--kb-color-neutral-300)) !default,
  $kb-button-soft-danger-disabled-background-color: rgb(var(--kb-color-neutral-300)) !default,
  $kb-button-soft-danger-disabled-color: rgb(var(--kb-color-neutral-400)) !default,

  $kb-button-soft-danger-dark-box-shadow: none !default,
  $kb-button-soft-danger-dark-border-color: transparent !default,
  $kb-button-soft-danger-dark-background-color: rgb(var(--kb-color-danger-500) / 0.2) !default,
  $kb-button-soft-danger-dark-color: rgb(var(--kb-color-danger-400)) !default,

  $kb-button-soft-danger-dark-hover-box-shadow: none !default,
  $kb-button-soft-danger-dark-hover-border-color: rgb(var(--kb-color-danger-600)) !default,
  $kb-button-soft-danger-dark-hover-background-color: rgb(var(--kb-color-danger-600)) !default,
  $kb-button-soft-danger-dark-hover-color: rgb(var(--kb-color-white)) !default,

  $kb-button-soft-danger-dark-active-box-shadow: none !default,
  $kb-button-soft-danger-dark-active-border-color: rgb(var(--kb-color-danger-800)) !default,
  $kb-button-soft-danger-dark-active-background-color: rgb(var(--kb-color-danger-800)) !default,
  $kb-button-soft-danger-dark-active-color: rgb(var(--kb-color-white)) !default,

  $kb-button-soft-danger-dark-disabled-box-shadow: none !default,
  $kb-button-soft-danger-dark-disabled-border-color: transparent !default,
  $kb-button-soft-danger-dark-disabled-background-color: rgb(var(--kb-color-neutral-400) / 0.2) !default,
  $kb-button-soft-danger-dark-disabled-color: rgb(var(--kb-color-text-4)) !default,

  // -------------------------------------------------------------------------------------------------
  // variant - outlined
  // -------------------------------------------------------------------------------------------------
  // primary
  $kb-button-outlined-primary-box-shadow: none !default,
  $kb-button-outlined-primary-border-color: rgb(var(--kb-color-primary-600)) !default,
  $kb-button-outlined-primary-background-color: transparent !default,
  $kb-button-outlined-primary-color: rgb(var(--kb-color-primary-600)) !default,

  $kb-button-outlined-primary-hover-box-shadow: none !default,
  $kb-button-outlined-primary-hover-border-color: rgb(var(--kb-color-primary-600)) !default,
  $kb-button-outlined-primary-hover-background-color: rgb(var(--kb-color-primary-600)) !default,
  $kb-button-outlined-primary-hover-color: rgb(var(--kb-color-white)) !default,

  $kb-button-outlined-primary-active-box-shadow: none !default,
  $kb-button-outlined-primary-active-border-color: rgb(var(--kb-color-primary-800)) !default,
  $kb-button-outlined-primary-active-background-color: rgb(var(--kb-color-primary-800)) !default,
  $kb-button-outlined-primary-active-color: rgb(var(--kb-color-white)) !default,

  $kb-button-outlined-primary-disabled-box-shadow: none !default,
  $kb-button-outlined-primary-disabled-border-color: rgb(var(--kb-color-neutral-300)) !default,
  $kb-button-outlined-primary-disabled-background-color: transparent !default,
  $kb-button-outlined-primary-disabled-color: rgb(var(--kb-color-neutral-300)) !default,

  $kb-button-outlined-primary-dark-box-shadow: none !default,
  $kb-button-outlined-primary-dark-border-color: rgb(var(--kb-color-primary-500)) !default,
  $kb-button-outlined-primary-dark-background-color: transparent !default,
  $kb-button-outlined-primary-dark-color: rgb(var(--kb-color-primary-400)) !default,

  $kb-button-outlined-primary-dark-hover-box-shadow: none !default,
  $kb-button-outlined-primary-dark-hover-border-color: rgb(var(--kb-color-primary-600)) !default,
  $kb-button-outlined-primary-dark-hover-background-color: rgb(var(--kb-color-primary-600)) !default,
  $kb-button-outlined-primary-dark-hover-color: rgb(var(--kb-color-white)) !default,

  $kb-button-outlined-primary-dark-active-box-shadow: none !default,
  $kb-button-outlined-primary-dark-active-border-color: rgb(var(--kb-color-primary-800)) !default,
  $kb-button-outlined-primary-dark-active-background-color: rgb(var(--kb-color-primary-800)) !default,
  $kb-button-outlined-primary-dark-active-color: rgb(var(--kb-color-white)) !default,

  $kb-button-outlined-primary-dark-disabled-box-shadow: none !default,
  $kb-button-outlined-primary-dark-disabled-border-color: rgb(var(--kb-color-neutral-400) / 0.2) !default,
  $kb-button-outlined-primary-dark-disabled-background-color: transparent !default,
  $kb-button-outlined-primary-dark-disabled-color: rgb(var(--kb-color-neutral-400) / 0.2) !default,

  // secondary
  $kb-button-outlined-secondary-box-shadow: none !default,
  $kb-button-outlined-secondary-border-color: rgb(var(--kb-color-neutral-700)) !default,
  $kb-button-outlined-secondary-background-color: transparent !default,
  $kb-button-outlined-secondary-color: rgb(var(--kb-color-neutral-700)) !default,

  $kb-button-outlined-secondary-hover-box-shadow: none !default,
  $kb-button-outlined-secondary-hover-border-color: rgb(var(--kb-color-neutral-700)) !default,
  $kb-button-outlined-secondary-hover-background-color: rgb(var(--kb-color-neutral-700)) !default,
  $kb-button-outlined-secondary-hover-color: rgb(var(--kb-color-white)) !default,

  $kb-button-outlined-secondary-active-box-shadow: none !default,
  $kb-button-outlined-secondary-active-border-color: rgb(var(--kb-color-neutral-500)) !default,
  $kb-button-outlined-secondary-active-background-color: rgb(var(--kb-color-neutral-500)) !default,
  $kb-button-outlined-secondary-active-color: rgb(var(--kb-color-white)) !default,

  $kb-button-outlined-secondary-disabled-box-shadow: none !default,
  $kb-button-outlined-secondary-disabled-border-color: rgb(var(--kb-color-neutral-300)) !default,
  $kb-button-outlined-secondary-disabled-background-color: transparent !default,
  $kb-button-outlined-secondary-disabled-color: rgb(var(--kb-color-neutral-300)) !default,

  $kb-button-outlined-secondary-dark-box-shadow: none !default,
  $kb-button-outlined-secondary-dark-border-color: rgb(var(--kb-color-neutral-500)) !default,
  $kb-button-outlined-secondary-dark-background-color: transparent !default,
  $kb-button-outlined-secondary-dark-color: rgb(var(--kb-color-neutral-400)) !default,

  $kb-button-outlined-secondary-dark-hover-box-shadow: none !default,
  $kb-button-outlined-secondary-dark-hover-border-color: rgb(var(--kb-color-neutral-500)) !default,
  $kb-button-outlined-secondary-dark-hover-background-color: rgb(var(--kb-color-neutral-500)) !default,
  $kb-button-outlined-secondary-dark-hover-color: rgb(var(--kb-color-white)) !default,

  $kb-button-outlined-secondary-dark-active-box-shadow: none !default,
  $kb-button-outlined-secondary-dark-active-border-color: rgb(var(--kb-color-neutral-700)) !default,
  $kb-button-outlined-secondary-dark-active-background-color: rgb(var(--kb-color-neutral-700)) !default,
  $kb-button-outlined-secondary-dark-active-color: rgb(var(--kb-color-white)) !default,

  $kb-button-outlined-secondary-dark-disabled-box-shadow: none !default,
  $kb-button-outlined-secondary-dark-disabled-border-color: rgb(var(--kb-color-neutral-400) / 0.2) !default,
  $kb-button-outlined-secondary-dark-disabled-background-color: transparent !default,
  $kb-button-outlined-secondary-dark-disabled-color: rgb(var(--kb-color-neutral-400) / 0.2) !default,

  // danger
  $kb-button-outlined-danger-box-shadow: none !default,
  $kb-button-outlined-danger-border-color: rgb(var(--kb-color-danger-600)) !default,
  $kb-button-outlined-danger-background-color: transparent !default,
  $kb-button-outlined-danger-color: rgb(var(--kb-color-danger-600)) !default,

  $kb-button-outlined-danger-hover-box-shadow: none !default,
  $kb-button-outlined-danger-hover-border-color: rgb(var(--kb-color-danger-600)) !default,
  $kb-button-outlined-danger-hover-background-color: rgb(var(--kb-color-danger-600)) !default,
  $kb-button-outlined-danger-hover-color: rgb(var(--kb-color-white)) !default,

  $kb-button-outlined-danger-active-box-shadow: none !default,
  $kb-button-outlined-danger-active-border-color: rgb(var(--kb-color-danger-800)) !default,
  $kb-button-outlined-danger-active-background-color: rgb(var(--kb-color-danger-800)) !default,
  $kb-button-outlined-danger-active-color: rgb(var(--kb-color-white)) !default,

  $kb-button-outlined-danger-disabled-box-shadow: none !default,
  $kb-button-outlined-danger-disabled-border-color: rgb(var(--kb-color-neutral-300)) !default,
  $kb-button-outlined-danger-disabled-background-color: transparent !default,
  $kb-button-outlined-danger-disabled-color: rgb(var(--kb-color-neutral-300)) !default,

  $kb-button-outlined-danger-dark-box-shadow: none !default,
  $kb-button-outlined-danger-dark-border-color: rgb(var(--kb-color-danger-500)) !default,
  $kb-button-outlined-danger-dark-background-color: transparent !default,
  $kb-button-outlined-danger-dark-color: rgb(var(--kb-color-danger-400)) !default,

  $kb-button-outlined-danger-dark-hover-box-shadow: none !default,
  $kb-button-outlined-danger-dark-hover-border-color: rgb(var(--kb-color-danger-600)) !default,
  $kb-button-outlined-danger-dark-hover-background-color: rgb(var(--kb-color-danger-600)) !default,
  $kb-button-outlined-danger-dark-hover-color: rgb(var(--kb-color-white)) !default,

  $kb-button-outlined-danger-dark-active-box-shadow: none !default,
  $kb-button-outlined-danger-dark-active-border-color: rgb(var(--kb-color-danger-800)) !default,
  $kb-button-outlined-danger-dark-active-background-color: rgb(var(--kb-color-danger-800)) !default,
  $kb-button-outlined-danger-dark-active-color: rgb(var(--kb-color-white)) !default,

  $kb-button-outlined-danger-dark-disabled-box-shadow: none !default,
  $kb-button-outlined-danger-dark-disabled-border-color: rgb(var(--kb-color-neutral-400) / 0.2) !default,
  $kb-button-outlined-danger-dark-disabled-background-color: transparent !default,
  $kb-button-outlined-danger-dark-disabled-color: rgb(var(--kb-color-neutral-400) / 0.2) !default,

  // -------------------------------------------------------------------------------------------------
  // variant - plain
  // -------------------------------------------------------------------------------------------------
  // primary
  $kb-button-plain-primary-box-shadow: none !default,
  $kb-button-plain-primary-border-color: transparent !default,
  $kb-button-plain-primary-background-color: transparent !default,
  $kb-button-plain-primary-color: rgb(var(--kb-color-primary-600)) !default,

  $kb-button-plain-primary-hover-box-shadow: none !default,
  $kb-button-plain-primary-hover-border-color: transparent !default,
  $kb-button-plain-primary-hover-background-color: rgb(var(--kb-color-fill-2)) !default,
  $kb-button-plain-primary-hover-color: rgb(var(--kb-color-primary-600)) !default,

  $kb-button-plain-primary-active-box-shadow: none !default,
  $kb-button-plain-primary-active-border-color: transparent !default,
  $kb-button-plain-primary-active-background-color: rgb(var(--kb-color-fill-3)) !default,
  $kb-button-plain-primary-active-color: rgb(var(--kb-color-primary-600)) !default,

  $kb-button-plain-primary-disabled-box-shadow: none !default,
  $kb-button-plain-primary-disabled-border-color: transparent !default,
  $kb-button-plain-primary-disabled-background-color: transparent !default,
  $kb-button-plain-primary-disabled-color: rgb(var(--kb-color-neutral-300)) !default,

  $kb-button-plain-primary-dark-box-shadow: none !default,
  $kb-button-plain-primary-dark-border-color: transparent !default,
  $kb-button-plain-primary-dark-background-color: transparent !default,
  $kb-button-plain-primary-dark-color: rgb(var(--kb-color-primary-400)) !default,

  $kb-button-plain-primary-dark-hover-box-shadow: none !default,
  $kb-button-plain-primary-dark-hover-border-color: transparent !default,
  $kb-button-plain-primary-dark-hover-background-color: rgb(var(--kb-color-fill-2)) !default,
  $kb-button-plain-primary-dark-hover-color: rgb(var(--kb-color-primary-400)) !default,

  $kb-button-plain-primary-dark-active-box-shadow: none !default,
  $kb-button-plain-primary-dark-active-border-color: transparent !default,
  $kb-button-plain-primary-dark-active-background-color: rgb(var(--kb-color-fill-3)) !default,
  $kb-button-plain-primary-dark-active-color: rgb(var(--kb-color-primary-400)) !default,

  $kb-button-plain-primary-dark-disabled-box-shadow: none !default,
  $kb-button-plain-primary-dark-disabled-border-color: transparent !default,
  $kb-button-plain-primary-dark-disabled-background-color: transparent !default,
  $kb-button-plain-primary-dark-disabled-color: rgb(var(--kb-color-neutral-400) / 0.2) !default,

  // secondary
  $kb-button-plain-secondary-box-shadow: none !default,
  $kb-button-plain-secondary-border-color: transparent !default,
  $kb-button-plain-secondary-background-color: transparent !default,
  $kb-button-plain-secondary-color: rgb(var(--kb-color-neutral-700)) !default,

  $kb-button-plain-secondary-hover-box-shadow: none !default,
  $kb-button-plain-secondary-hover-border-color: transparent !default,
  $kb-button-plain-secondary-hover-background-color: rgb(var(--kb-color-fill-2)) !default,
  $kb-button-plain-secondary-hover-color: rgb(var(--kb-color-neutral-700)) !default,

  $kb-button-plain-secondary-active-box-shadow: none !default,
  $kb-button-plain-secondary-active-border-color: transparent !default,
  $kb-button-plain-secondary-active-background-color: rgb(var(--kb-color-fill-3)) !default,
  $kb-button-plain-secondary-active-color: rgb(var(--kb-color-neutral-700)) !default,

  $kb-button-plain-secondary-disabled-box-shadow: none !default,
  $kb-button-plain-secondary-disabled-border-color: transparent !default,
  $kb-button-plain-secondary-disabled-background-color: transparent !default,
  $kb-button-plain-secondary-disabled-color: rgb(var(--kb-color-neutral-300)) !default,

  $kb-button-plain-secondary-dark-box-shadow: none !default,
  $kb-button-plain-secondary-dark-border-color: transparent !default,
  $kb-button-plain-secondary-dark-background-color: transparent !default,
  $kb-button-plain-secondary-dark-color: rgb(var(--kb-color-neutral-400)) !default,

  $kb-button-plain-secondary-dark-hover-box-shadow: none !default,
  $kb-button-plain-secondary-dark-hover-border-color: transparent !default,
  $kb-button-plain-secondary-dark-hover-background-color: rgb(var(--kb-color-fill-2)) !default,
  $kb-button-plain-secondary-dark-hover-color: rgb(var(--kb-color-neutral-400)) !default,

  $kb-button-plain-secondary-dark-active-box-shadow: none !default,
  $kb-button-plain-secondary-dark-active-border-color: transparent !default,
  $kb-button-plain-secondary-dark-active-background-color: rgb(var(--kb-color-fill-3)) !default,
  $kb-button-plain-secondary-dark-active-color: rgb(var(--kb-color-neutral-400)) !default,

  $kb-button-plain-secondary-dark-disabled-box-shadow: none !default,
  $kb-button-plain-secondary-dark-disabled-border-color: transparent !default,
  $kb-button-plain-secondary-dark-disabled-background-color: transparent !default,
  $kb-button-plain-secondary-dark-disabled-color: rgb(var(--kb-color-neutral-400) / 0.2) !default,

  // danger
  $kb-button-plain-danger-box-shadow: none !default,
  $kb-button-plain-danger-border-color: transparent !default,
  $kb-button-plain-danger-background-color: transparent !default,
  $kb-button-plain-danger-color: rgb(var(--kb-color-danger-600)) !default,

  $kb-button-plain-danger-hover-box-shadow: none !default,
  $kb-button-plain-danger-hover-border-color: transparent !default,
  $kb-button-plain-danger-hover-background-color: rgb(var(--kb-color-fill-2)) !default,
  $kb-button-plain-danger-hover-color: rgb(var(--kb-color-danger-600)) !default,

  $kb-button-plain-danger-active-box-shadow: none !default,
  $kb-button-plain-danger-active-border-color: transparent !default,
  $kb-button-plain-danger-active-background-color: rgb(var(--kb-color-fill-3)) !default,
  $kb-button-plain-danger-active-color: rgb(var(--kb-color-danger-600)) !default,

  $kb-button-plain-danger-disabled-box-shadow: none !default,
  $kb-button-plain-danger-disabled-border-color: transparent !default,
  $kb-button-plain-danger-disabled-background-color: transparent !default,
  $kb-button-plain-danger-disabled-color: rgb(var(--kb-color-neutral-300)) !default,

  $kb-button-plain-danger-dark-box-shadow: none !default,
  $kb-button-plain-danger-dark-border-color: transparent !default,
  $kb-button-plain-danger-dark-background-color: transparent !default,
  $kb-button-plain-danger-dark-color: rgb(var(--kb-color-danger-400)) !default,

  $kb-button-plain-danger-dark-hover-box-shadow: none !default,
  $kb-button-plain-danger-dark-hover-border-color: transparent !default,
  $kb-button-plain-danger-dark-hover-background-color: rgb(var(--kb-color-fill-2)) !default,
  $kb-button-plain-danger-dark-hover-color: rgb(var(--kb-color-danger-400)) !default,

  $kb-button-plain-danger-dark-active-box-shadow: none !default,
  $kb-button-plain-danger-dark-active-border-color: transparent !default,
  $kb-button-plain-danger-dark-active-background-color: rgb(var(--kb-color-fill-3)) !default,
  $kb-button-plain-danger-dark-active-color: rgb(var(--kb-color-danger-400)) !default,

  $kb-button-plain-danger-dark-disabled-box-shadow: none !default,
  $kb-button-plain-danger-dark-disabled-border-color: transparent !default,
  $kb-button-plain-danger-dark-disabled-background-color: transparent !default,
  $kb-button-plain-danger-dark-disabled-color: rgb(var(--kb-color-neutral-400) / 0.2) !default,

  // -------------------------------------------------------------------------------------------------
  // size
  // -------------------------------------------------------------------------------------------------
  $kb-button-xs-justify-content: space-between !default,
  $kb-button-xs-gap: 32px !default,
  $kb-button-xs-border-radius: 0 !default,
  $kb-button-xs-height: 32px !default,
  $kb-button-xs-padding: 0 64px 0 16px !default,
  $kb-button-xs-has-left-icon-padding: 0 64px 0 16px !default,
  $kb-button-xs-has-right-icon-padding: 0 16px !default,
  $kb-button-xs-font-size: 14px !default,
  $kb-button-xs-icon-only-font-size: 16px !default,
  $kb-button-xs-icon-font-size: 16px !default,

  $kb-button-sm-justify-content: space-between !default,
  $kb-button-sm-gap: 32px !default,
  $kb-button-sm-border-radius: 0 !default,
  $kb-button-sm-height: 40px !default,
  $kb-button-sm-padding: 0 64px 0 16px !default,
  $kb-button-sm-has-left-icon-padding: 0 64px 0 16px !default,
  $kb-button-sm-has-right-icon-padding: 0 16px !default,
  $kb-button-sm-font-size: 14px !default,
  $kb-button-sm-icon-only-font-size: 16px !default,
  $kb-button-sm-icon-font-size: 16px !default,

  $kb-button-md-justify-content: space-between !default,
  $kb-button-md-gap: 32px !default,
  $kb-button-md-border-radius: 0 !default,
  $kb-button-md-height: 48px !default,
  $kb-button-md-padding: 0 64px 0 16px !default,
  $kb-button-md-has-left-icon-padding: 0 64px 0 16px !default,
  $kb-button-md-has-right-icon-padding: 0 16px !default,
  $kb-button-md-font-size: 14px !default,
  $kb-button-md-icon-only-font-size: 16px !default,
  $kb-button-md-icon-font-size: 16px !default,

  $kb-button-lg-justify-content: space-between !default,
  $kb-button-lg-gap: 32px !default,
  $kb-button-lg-border-radius: 0 !default,
  $kb-button-lg-height: 64px !default,
  $kb-button-lg-padding: 0 64px 0 16px !default,
  $kb-button-lg-has-left-icon-padding: 0 64px 0 16px !default,
  $kb-button-lg-has-right-icon-padding: 0 16px !default,
  $kb-button-lg-font-size: 14px !default,
  $kb-button-lg-icon-only-font-size: 16px !default,
  $kb-button-lg-icon-font-size: 16px !default,

  // -------------------------------------------------------------------------------------------------
  // icon
  // -------------------------------------------------------------------------------------------------
  $kb-button-icon-font-size: 16px !default,

  // -------------------------------------------------------------------------------------------------
  // loader-icon
  // -------------------------------------------------------------------------------------------------
  $kb-button-loader-icon-font-size: 1em !default,
  $kb-button-loader-icon-animation: 1s linear infinite kb-animation-spin !default
*/
