@mixin focus-visible() {
  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline-offset: 2px;
    outline: 2px solid rgb(var(--kb-color-primary-500));
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}
