:root {
  --kb-color-white: 255 255 255;

  /* Tailwind - blue */
  --kb-color-primary-50: 239 246 255;
  --kb-color-primary-100: 219 234 254;
  --kb-color-primary-200: 191 219 254;
  --kb-color-primary-300: 147 197 253;
  --kb-color-primary-400: 96 165 250;
  --kb-color-primary-500: 59 130 246;
  --kb-color-primary-600: 37 99 235;
  --kb-color-primary-700: 29 78 216;
  --kb-color-primary-800: 30 64 175;
  --kb-color-primary-900: 30 58 138;

  /* Tailwind - zinc */
  --kb-color-neutral-50: 250 250 250;
  --kb-color-neutral-100: 244 244 245;
  --kb-color-neutral-200: 228 228 231;
  --kb-color-neutral-300: 212 212 216;
  --kb-color-neutral-400: 161 161 170;
  --kb-color-neutral-500: 113 113 122;
  --kb-color-neutral-600: 82 82 91;
  --kb-color-neutral-700: 63 63 70;
  --kb-color-neutral-800: 39 39 42;
  --kb-color-neutral-900: 24 24 27;

  /* Tailwind - green */
  --kb-color-success-50: 240 253 244;
  --kb-color-success-100: 220 252 231;
  --kb-color-success-200: 187 247 208;
  --kb-color-success-300: 134 239 172;
  --kb-color-success-400: 74 222 128;
  --kb-color-success-500: 34 197 94;
  --kb-color-success-600: 22 163 74;
  --kb-color-success-700: 21 128 61;
  --kb-color-success-800: 22 101 52;
  --kb-color-success-900: 20 83 45;

  /* Tailwind - violet */
  --kb-color-info-50: 245 243 255;
  --kb-color-info-100: 237 233 254;
  --kb-color-info-200: 221 214 254;
  --kb-color-info-300: 196 181 253;
  --kb-color-info-400: 167 139 250;
  --kb-color-info-500: 139 92 246;
  --kb-color-info-600: 124 58 237;
  --kb-color-info-700: 109 40 217;
  --kb-color-info-800: 91 33 182;
  --kb-color-info-900: 76 29 149;

  /* Tailwind - orange */
  --kb-color-warning-50: 255 247 237;
  --kb-color-warning-100: 255 237 213;
  --kb-color-warning-200: 254 215 170;
  --kb-color-warning-300: 253 186 116;
  --kb-color-warning-400: 251 146 60;
  --kb-color-warning-500: 249 115 22;
  --kb-color-warning-600: 234 88 12;
  --kb-color-warning-700: 194 65 12;
  --kb-color-warning-800: 154 52 18;
  --kb-color-warning-900: 124 45 18;

  /* Tailwind - red */
  --kb-color-danger-50: 254 242 242;
  --kb-color-danger-100: 254 226 226;
  --kb-color-danger-200: 254 202 202;
  --kb-color-danger-300: 252 165 165;
  --kb-color-danger-400: 248 113 113;
  --kb-color-danger-500: 239 68 68;
  --kb-color-danger-600: 220 38 38;
  --kb-color-danger-700: 185 28 28;
  --kb-color-danger-800: 153 27 27;
  --kb-color-danger-900: 127 29 29;

  /* Specific semantic colors aliases */
  --kb-color-border-1: var(--kb-color-neutral-100);
  --kb-color-border-2: var(--kb-color-neutral-200);
  --kb-color-border-3: var(--kb-color-neutral-300);
  --kb-color-border-4: var(--kb-color-neutral-500);

  --kb-color-fill-1: var(--kb-color-neutral-50);
  --kb-color-fill-2: var(--kb-color-neutral-100);
  --kb-color-fill-3: var(--kb-color-neutral-200);
  --kb-color-fill-4: var(--kb-color-neutral-300);

  --kb-color-text-1: var(--kb-color-neutral-900);
  --kb-color-text-2: var(--kb-color-neutral-700);
  --kb-color-text-3: var(--kb-color-neutral-500);
  --kb-color-text-4: var(--kb-color-neutral-300);

  --kb-color-bg-1: var(--kb-color-white);
  --kb-color-bg-2: var(--kb-color-white);
  --kb-color-bg-3: var(--kb-color-white);
  --kb-color-bg-4: var(--kb-color-white);
  --kb-color-bg-5: var(--kb-color-white);
}

[data-kb-theme="dark"] {
  --kb-color-border-1: var(--kb-color-neutral-800);
  --kb-color-border-2: var(--kb-color-neutral-700);
  --kb-color-border-3: var(--kb-color-neutral-600);
  --kb-color-border-4: var(--kb-color-neutral-400);

  --kb-color-fill-1: 255 255 255 / 0.04;
  --kb-color-fill-2: 255 255 255 / 0.08;
  --kb-color-fill-3: 255 255 255 / 0.12;
  --kb-color-fill-4: 255 255 255 / 0.16;

  --kb-color-text-1: 255 255 255 / 0.9;
  --kb-color-text-2: 255 255 255 / 0.7;
  --kb-color-text-3: 255 255 255 / 0.5;
  --kb-color-text-4: 255 255 255 / 0.3;

  --kb-color-bg-1: 24 24 27;
  --kb-color-bg-2: 35 35 36;
  --kb-color-bg-3: 43 43 44;
  --kb-color-bg-4: 48 48 49;
  --kb-color-bg-5: 55 55 57;
}

html {
  font-size: 16px;
}

body {
  @apply bg-bg-1 text-text-1;
  font-family: inherit;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
