@use "animations" as *;
@use "functions" as *;
@use "mixins" as *;

$colorMap: (
  primary: primary,
  secondary: neutral,
  danger: danger,
);

.kb-button {
  appearance: none;
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  width: auto;

  outline: none;

  border: 1px solid transparent;
  border-radius: 3px;

  padding: 0;

  font-family: inherit;
  font-size: 100%;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;

  user-select: none;
  white-space: nowrap;
  vertical-align: middle;

  transition-property: color, background-color, border-color;
  transition-duration: 250ms;

  &[data-loading] {
    opacity: 0.8;
  }

  @include focus-visible;

  &:disabled {
    cursor: not-allowed;
  }
}

.kb-button--full-width {
  display: flex;
  width: 100%;
}

/* -------------------------------------------------------------------------------------------------
 * variant - solid
 * -----------------------------------------------------------------------------------------------*/

.kb-button--solid {
  @each $name, $color in $colorMap {
    $isNeutral: $color == neutral;

    &.kb-button--#{$name} {
      $baseShade: if($isNeutral, 800, 600);
      border-color: rgb(var(--kb-color-#{$color}-#{$baseShade}));
      background-color: rgb(var(--kb-color-#{$color}-#{$baseShade}));
      color: rgb(var(--kb-color-white));

      &:hover {
        $hoverShade: if($isNeutral, 700, 500);
        border-color: rgb(var(--kb-color-#{$color}-#{$hoverShade}));
        background-color: rgb(var(--kb-color-#{$color}-#{$hoverShade}));
      }

      &:active {
        $activeShade: if($isNeutral, 900, 700);
        border-color: rgb(var(--kb-color-#{$color}-#{$activeShade}));
        background-color: rgb(var(--kb-color-#{$color}-#{$activeShade}));
      }

      &:disabled {
        border-color: rgb(var(--kb-color-#{$color}-200));
        background-color: rgb(var(--kb-color-#{$color}-200));
      }

      #{dark-selector()} {
        border-color: rgb(var(--kb-color-#{$color}-600));
        background-color: rgb(var(--kb-color-#{$color}-600));
      }

      #{dark-selector("&:hover")} {
        border-color: rgb(var(--kb-color-#{$color}-700));
        background-color: rgb(var(--kb-color-#{$color}-700));
      }

      #{dark-selector("&:active")} {
        border-color: rgb(var(--kb-color-#{$color}-500));
        background-color: rgb(var(--kb-color-#{$color}-500));
      }

      #{dark-selector("&:disabled")} {
        border-color: transparent;
        background-color: rgb(var(--kb-color-#{$color}-600) / 0.3);
        color: rgb(var(--kb-color-white) / 0.3);
      }
    }
  }
}

/* -------------------------------------------------------------------------------------------------
 * variant - soft
 * -----------------------------------------------------------------------------------------------*/

.kb-button--soft {
  @each $name, $color in $colorMap {
    $isNeutral: $color == neutral;

    &.kb-button--#{$name} {
      border-color: rgb(var(--kb-color-#{$color}-100));
      background-color: rgb(var(--kb-color-#{$color}-100));
      color: rgb(var(--kb-color-#{$color}-#{if($isNeutral, 800, 700)}));

      &:hover {
        border-color: rgb(var(--kb-color-#{$color}-200));
        background-color: rgb(var(--kb-color-#{$color}-200));
      }

      &:active {
        border-color: rgb(var(--kb-color-#{$color}-300));
        background-color: rgb(var(--kb-color-#{$color}-300));
      }

      &:disabled {
        border-color: rgb(var(--kb-color-#{$color}-50));
        background-color: rgb(var(--kb-color-#{$color}-50));
        color: rgb(var(--kb-color-#{$color}-200));
      }

      #{dark-selector()} {
        border-color: transparent;
        background-color: rgb(var(--kb-color-#{$color}-500) / 0.2);
        @if $isNeutral {
          color: rgb(var(--kb-color-text-2));
        } @else {
          color: rgb(var(--kb-color-#{$color}-400));
        }
      }

      #{dark-selector("&:hover")} {
        border-color: transparent;
        background-color: rgb(var(--kb-color-#{$color}-500) / 0.35);
      }

      #{dark-selector("&:active")} {
        border-color: transparent;
        background-color: rgb(var(--kb-color-#{$color}-500) / 0.5);
      }

      #{dark-selector("&:disabled")} {
        border-color: transparent;
        background-color: rgb(var(--kb-color-#{$color}-600) / 0.1);
        color: rgb(var(--kb-color-#{$color}-500) / 0.3);
      }
    }
  }
}

/* -------------------------------------------------------------------------------------------------
 * variant - outlined
 * -----------------------------------------------------------------------------------------------*/

.kb-button--outlined {
  @each $name, $color in $colorMap {
    $isNeutral: $color == neutral;

    &.kb-button--#{$name} {
      $shade: if($isNeutral, 700, 600);
      border-color: rgb(var(--kb-color-#{$color}-#{$shade}));
      background-color: transparent;
      color: rgb(var(--kb-color-#{$color}-#{$shade}));

      &:hover {
        background-color: rgb(var(--kb-color-fill-2));
      }

      &:active {
        background-color: rgb(var(--kb-color-fill-3) / 0.8);
      }

      &:disabled {
        border-color: rgb(var(--kb-color-#{$color}-200));
        background-color: transparent;
        color: rgb(var(--kb-color-#{$color}-200));
      }

      #{dark-selector()} {
        border-color: rgb(var(--kb-color-#{$color}-500));
        color: rgb(var(--kb-color-#{$color}-400));
      }

      #{dark-selector("&:active")} {
        background-color: rgb(var(--kb-color-fill-3));
      }

      #{dark-selector("&:disabled")} {
        border-color: rgb(var(--kb-color-#{$color}-600) / 0.3);
        color: rgb(var(--kb-color-#{$color}-600) / 0.4);
      }
    }
  }
}

/* -------------------------------------------------------------------------------------------------
 * variant - plain
 * -----------------------------------------------------------------------------------------------*/

.kb-button--plain {
  @each $name, $color in $colorMap {
    $isNeutral: $color == neutral;

    &.kb-button--#{$name} {
      border-color: transparent;
      background-color: transparent;
      color: rgb(var(--kb-color-#{$color}-#{if($isNeutral, 700, 600)}));

      &:hover {
        border-color: transparent;
        background-color: rgb(var(--kb-color-fill-2));
      }

      &:active {
        border-color: transparent;
        background-color: rgb(var(--kb-color-fill-3));
      }

      &:disabled {
        border-color: transparent;
        background-color: transparent;
        color: rgb(var(--kb-color-#{$color}-200));
      }

      #{dark-selector()} {
        color: rgb(var(--kb-color-#{$color}-400));
      }

      #{dark-selector("&:disabled")} {
        color: rgb(var(--kb-color-#{$color}-600) / 0.4);
      }
    }
  }
}

/* -------------------------------------------------------------------------------------------------
 * size
 * -----------------------------------------------------------------------------------------------*/

.kb-button--sm {
  height: 28px;
  padding: 0 12px;
  font-size: 14px;

  &.kb-button--icon-only {
    width: 28px;
    padding: 0;
  }
}

.kb-button--md {
  height: 32px;
  padding: 0 16px;
  font-size: 14px;

  &.kb-button--icon-only {
    width: 32px;
    padding: 0;
  }
}

.kb-button--lg {
  height: 36px;
  padding: 0 18px;
  font-size: 16px;

  &.kb-button--icon-only {
    width: 36px;
    padding: 0;
  }
}

/* -------------------------------------------------------------------------------------------------
 * icon
 * -----------------------------------------------------------------------------------------------*/

.kb-button__icon {
  display: inline-flex;
  align-self: center;
  flex-shrink: 0;
  font-size: 1.2em;
}

/* -------------------------------------------------------------------------------------------------
 * loader
 * -----------------------------------------------------------------------------------------------*/

.kb-button__loader-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: 1em;
  line-height: normal;

  &.kb-button__loader-wrapper--has-loading-text {
    position: relative;
  }
}

.kb-button__loader-icon {
  font-size: 1.3em;
  animation: 1s linear infinite kb-spin;
}
