.accordion {
	display: flex;
	flex-direction: column;
	width: 300px;
	border-radius: 6px;
	border: 1px solid hsl(240 6% 90%);
	background-color: white;
	color: hsl(240 4% 16%);
}

.accordion__item {
	overflow: hidden;
}

.accordion__item:first-child {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.accordion__item:last-child {
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.accordion__item-header {
	display: flex;
}

.accordion__item-trigger {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 14px 16px;
	border: none;
	border-top: 1px solid hsl(240 6% 90%);
	font-size: 16px;
	font-weight: 500;
	text-align: left;
	outline: none;
	cursor: pointer;
	background: none;
	transition:
		border-color 250ms,
		color 250ms;
}

.accordion__item:first-child .accordion__item-trigger {
	border-top: none;
}

.accordion__item-trigger:hover {
	background-color: hsl(240 6% 97%);
}

.accordion__item-trigger:focus-visible {
	z-index: 1;
	outline: 2px solid hsl(200 98% 39%);
	outline-offset: -2px;
}

.accordion__item-trigger-icon {
	width: 20px;
	height: 20px;
	color: hsl(240 5% 46%);
	transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordion__item-trigger[data-expanded] > .accordion__item-trigger-icon {
	transform: rotate(180deg);
}

.accordion__item-content {
	overflow: hidden;
	font-size: 14px;
	animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordion__item-content[data-expanded] {
	animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordion__item-content-text {
	padding: 16px;
	color: hsl(240 5% 26%);
}

@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--kb-accordion-content-height);
	}
}

@keyframes slideUp {
	from {
		height: var(--kb-accordion-content-height);
	}
	to {
		height: 0;
	}
}

[data-theme*="dark"] .accordion {
	border-color: hsl(240 5% 34%);
	background-color: hsl(240 4% 16%);
	color: hsl(0 100% 100% / 0.9);
}

[data-theme*="dark"] .accordion__item-trigger {
	border-top-color: hsl(240 5% 34%);
}

[data-theme*="dark"] .accordion__item-trigger:hover {
	background-color: hsl(240 4% 22%);
}

[data-theme*="dark"] .accordion__item-trigger-icon {
	color: hsl(240 5% 65%);
}

[data-theme*="dark"] .accordion__item-content-text {
	color: hsl(0 100% 100% / 0.9);
}
