.accordion {
  border-radius: 6px;
  width: 300px;
  border: 1px solid hsl(240 5% 84%);
  color: hsl(240 4% 16%);
}

.accordion__item:first-child {
  margin-top: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.accordion__item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.accordion__item-header {
  display: flex;
}

.accordion__item-trigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 14px;
  border-bottom: 1px solid hsl(240 5% 84%);
  font-weight: 600;
  text-align: left;
  outline: none;
}

.accordion__item:last-child .accordion__item-trigger {
  border-bottom: none;
}

.accordion__item-trigger:focus-visible {
  z-index: 1;
  outline: 2px solid hsl(200 98% 39%);
  outline-offset: 2px;
}

.accordion__item-trigger-icon {
  width: 24px;
  height: 24px;
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordion__item-trigger[data-expanded] > .accordion__item-trigger-icon {
  transform: rotate(180deg);
}

.accordion__item-content {
  overflow: hidden;
  font-size: 16px;
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordion__item-content[data-expanded] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordion__item-content-text {
  padding: 16px;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--kb-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--kb-accordion-content-height);
  }
  to {
    height: 0;
  }
}

[data-kb-theme="dark"] .accordion {
  border-color: hsl(240 5% 65%);
  color: hsl(0 0% 100% / 0.9);
}

[data-kb-theme="dark"] .accordion__item-trigger {
  border-bottom-color: hsl(240 5% 65%);
}
