.button {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: auto;
  outline: none;
  border-radius: 6px;
  padding: 0 16px;
  background-color: hsl(200 98% 39%);
  color: white;
  font-size: 16px;
  line-height: 0;
  transition: 250ms background-color;
}

.button:hover {
  background-color: hsl(201 96% 32%);
}

.button:focus-visible {
  outline: 2px solid hsl(200 98% 39%);
  outline-offset: 2px;
}

.button:active {
  background-color: hsl(201 90% 27%);
}

[data-kb-theme="dark"] .button {
  background-color: hsl(201 96% 32%);
  color: hsla(0 100% 100% / 0.9);
}

[data-kb-theme="dark"] .button:hover {
  background-color: hsl(200 98% 39%);
}

[data-kb-theme="dark"] .button:active {
  background-color: hsl(199 89% 48%);
}
