.rating-group {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.rating-group__label {
	color: hsl(240 6% 10%);
	font-size: 14px;
	font-weight: 500;
	user-select: none;
}

.rating-group__description {
	color: hsl(240 5% 26%);
	font-size: 12px;
	user-select: none;
}

.rating-group__error-message {
	color: hsl(0 72% 51%);
	font-size: 12px;
	user-select: none;
}

.rating-group__control {
	display: flex;
	gap: 4px;
}

.rating-group-item {
	cursor: pointer;
	fill: hsl(240 6% 90%);
}

.rating-group-item:focus {
	outline: none;
}

[data-kb-theme="dark"] .rating-group-item {
	fill: hsl(240 5% 26%);
}

.rating-group-item[data-highlighted] {
	fill: hsl(200 98% 39%);
}

.half-star-icon > path + path {
	fill: hsl(240 6% 90%);
}

[data-kb-theme="dark"] .half-star-icon > path + path {
	fill: hsl(240 5% 26%);
}

[data-kb-theme="dark"] .rating-group__label {
	color: hsl(240 5% 84%);
}

[data-kb-theme="dark"] .rating-group__description {
	color: hsl(240 5% 65%);
}
