.separator {
  border: none;
  background-color: hsl(240 5% 84%);
}

.separator[data-orientation="horizontal"] {
  height: 1px;
  width: 100%;
}

[data-kb-theme="dark"] .separator {
  background-color: hsl(240 5% 26%);
}
