@keyframes skeleton-fade {
  0%,
  100% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }
}

.skeleton {
  height: auto;
  width: 100%;
  position: relative;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
.skeleton[data-animate="true"]::after {
  animation: skeleton-fade 1500ms linear infinite;
}

.skeleton[data-visible="true"] {
  overflow: hidden;
}
.skeleton[data-visible="true"]::before {
  position: absolute;
  content: "";
  inset: 0;
  z-index: 10;
  background-color: white;
}

.skeleton[data-visible="true"]::after {
  position: absolute;
  content: "";
  inset: 0;
  z-index: 11;
  background-color: gray;
}

.multiple-root {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.multiple-profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.toggle-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.toggle-button {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50%;
  outline: none;
  border-radius: 6px;
  background-color: hsl(200 98% 39%);
  color: white;
  font-size: 16px;
  line-height: 0;
}

.toggle-button:focus-visible {
  outline: 2px solid hsl(200 98% 39%);
  outline-offset: 2px;
}

.toggle-button[data-pressed] {
  background-color: hsl(0 72% 51%);
}
