.toggle-group {
	display: flex;
	padding: 0.5rem;
	gap: 0.5rem;
}

.toggle-group[data-orientation="vertical"] {
	flex-direction: column;
}

.toggle-group__item {
	padding: 0.5rem;
	border-radius: 0.5rem;
	appearance: none;
	user-select: none;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-property: background-color, color;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
}

.toggle-group__item:hover {
	background-color: hsl(200 98% 39% / 0.8);
	color: hsla(0 100% 100% / 0.9);
}

[data-kb-theme="dark"] .toggle-group__item:hover {
	background-color: hsl(200 98% 39% / 0.5);
}

.toggle-group__item[data-pressed] {
	background-color: hsl(200 98% 39%);
	color: hsla(0 100% 100% / 0.9);
}

.toggle-group__item:focus-visible {
	outline: 2px solid hsl(200 98% 39%);
	outline-offset: 2px;
}
